<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/head::head('无形资产摊销管理','','')">
</head>
<body>
<!--搜索模块-->
<div class="easyui-panel"
     style="height: auto; width:100%;padding: 8px 0px 0px 0px;overflow: hidden;">
    <form id="serachFrom" method="post" style="margin-bottom:0;">
        <table cellpadding="5" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">
            <tr>
                <td style="width:8%;text-align: right;" ><label>会计期间范围:</label></td>
                <td  id="s" style="width:42%;text-align: left;">
                    <input style="width:20%;" id="yearMonthDateStart" name="yearMonthDateStart" class="easyui-textbox" data-options="prompt: '开始年月'">&nbsp;--&nbsp;
                    <input style="width:20%;" id="yearMonthDateEnd" name="yearMonthDateEnd" class="easyui-textbox" data-options="prompt: '结束年月'">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-right: 20px;">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-search'" style="width: 8%;" onclick="searchF()" >查询</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-refresh'" style="width: 8%;" onclick="reset()">重置</a>
                </td>
            </tr>
        </table>
    </form>

    <!-- 展示搜索结果 -->
    <table id = "sg" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;"></table>
</div>
<div id="waitMenu" class="easyui-dialog"
     style="width: 300px; height: 100px; padding: 10px 20px;" closed="true"
     align="center"
     data-options="modal:true,closed:true,onOpen:onOpen,onClose:onClose">
    <div id="msg"></div>
</div>
<div id="dlgC"  class="easyui-dialog" style="width: 400px; padding: 10px 20px" align="center"
     data-options="modal:true,closed:true,resizable:true,maximizable:true"  buttons="#dlg-buttons">
    <form id="fmC" method="post">
        <table class="tt">
            <tr>
                <td style="width:15%;text-align: right;"><label>制单日期:</label></td>
                <td style="width:18%;">
                    <input class="easyui-datebox"  id="voucherDate"  name="voucherDate" editable="false"  style="width:140px;" data-options="prompt:'制单日期',missingMessage:'请输入制单日期'">
                </td>
            </tr>
        </table>
    </form>
    <br>
    <div id="dlg-buttons" align="right">
        <a href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-check" onclick="confirmC()">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-remove" onclick="javascript:$('#dlgC').dialog('close')">取消</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#sg').datagrid({
            url: '/intangibleassetsdepreciation/list',
            striped: true,  //设置为 true，则把行条纹化。（即奇偶行使用不同背景色） 默认false,
            method: 'post', //默认为 post
            // pagination: true, //设置为 true，则在数据网格（datagrid）底部显示分页工具栏。默认false
            fitColumns: true,//设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            singleSelect: true,//设置为 true，则只允许选中一行。 默认false
            checkOnSelect: true, //如果设置为 true，当用户点击某一行时，则会选中/取消选中复选框。
            pagePosition: 'bottom', //定义分页栏的位置。可用的值有：'top'、'bottom'、'both'。 默认 bottom
            // pageList: [10, 20, 30, 40, 50], //当设置了 pagination 属性时，初始化页面尺寸的选择列表。
            nowrap: true,
            columns: [
                [
                    {field: '', checkbox: true, align: 'center'}
                    , {field: 'yearMonthDate', title: '会计期间', width: '50%', align: 'center', sortable: 'true', order: 'asc'}
                    , {field: 'flag', title: '状态', width: '49%', align: 'center'}
                ]
            ],
            /*,toolbar: '#tbar'*/    //通过id选择器引用
            toolbar: [{
                text: '计提摊销',
                iconCls: 'e-icon fa fa-newspaper-o',
                plain: true,
                handler: depreciation
            }, '-'
                , {
                    text: '摊销反处理',
                    iconCls: 'e-icon fa fa-mail-reply-all',
                    plain: true,
                    handler: revokeDepreciation
                }, '-'
                , {
                    text: '生成凭证',
                    iconCls: 'e-icon fa fa-newspaper-o',
                    plain: true,
                    handler: addVoucher
                }, '-'
                , {
                    text: '删除凭证',
                    iconCls: 'e-icon fa fa-mail-reply-all',
                    plain: true,
                    handler: revokeVoucher
                }],
            loadMsg: '加载中...'  //当从远程站点加载数据时，显示的提示消息。
        })
    })

    //摊销计提
    function depreciation(){
        var row = $('#sg').datagrid('getSelected');//获取当前选中的会计期间
        if(row){//选中不为空
            if(row.flag=="已计提"){
                $.messager.alert(" 提示", "当前会计期间已为计提状态！","warning");//判断当前会计期间是否为已计提状态
                return false;
            }
            if(row.flag=="已生成凭证"){
                $.messager.alert(" 提示", "当前会计期间已生成凭证，不允许计提摊销！","warning");//判断当前会计期间是否为已生成凭证
                return false;
            }
            $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
            $.ajax({
                url: '/intangibleassetsdepreciation/depreciation',
                data: row,
                type: 'POST',
                async: false,
                success:function (result) {
                    $('#waitMenu').dialog('close');//关闭等待窗口
                    if(result.success){
                        $('#sg').datagrid('reload');//操作成功后重新加载页面
                        $.messager.show({title:" 提示", msg: "操作成功！"});//操作成功给出成功提示
                    }else{
                        $.messager.show({title:"提示", msg: result.errorMsg});//操作失败给出失败提示
                    }
                }
            });
        }else{
            $.messager.alert("提示","请选择要计提摊销的会计期间！","warning")
        }
    }

    //摊销反处理
    function revokeDepreciation(){
        var row = $('#sg').datagrid('getSelected');//获取当前选中的会计期间
        if (row) {//选中不为空
            if (row.length != 0) {//选中不为空
                if (row.flag == "未计提") {
                    $.messager.alert(" 提示", "当前会计期间已为未计提状态，不允许摊销反处理！", "warning");//判断当前会计期间是否为未计提状态
                    return false;
                }
                if(row.flag=="已生成凭证"){
                    $.messager.alert(" 提示", "当前会计期间已生成凭证，不允许摊销反处理！","warning");//判断当前会计期间是否为已生成凭证
                    return false;
                }
                $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
                $.ajax({
                    url: '/intangibleassetsdepreciation/revokeDepreciation',
                    data: row,
                    type: 'POST',
                    async: false,
                    success: function (result) {
                        $('#waitMenu').dialog('close');//关闭等待窗口
                        if (result.success) {
                            $('#sg').datagrid('reload');//操作成功后重新加载页面
                            $.messager.show({title: " 提示", msg: "操作成功！"});//操作成功给出成功提示
                        } else {
                            $.messager.show({title: "提示", msg: result.errorMsg});//操作失败给出失败提示
                        }
                    }
                });
            } else {
                $.messager.alert("提示", "请选择要摊销反处理的会计期间！", "warning")
            }
        }else {
            $.messager.alert("提示", "请选择要摊销反处理的会计期间！", "warning")
        }
    }

    //未添加制单日期--生成凭证
    /*function addVoucher(){
        var row = $('#sg').datagrid('getSelected');//获取当前选中的会计期间
        if(row){//选中不为空
            if(row.flag=="已生成凭证"){
                $.messager.alert(" 提示", "当前会计期间已生成凭证！","warning");//判断当前会计期间是否已生成凭证
                return false;
            }
            if (row.flag == "未计提") {
                $.messager.alert(" 提示", "当前会计期间为未计提状态，不能生成凭证！", "warning");//判断当前会计期间是否为未计提状态
                return false;
            }
            $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
            $.ajax({
                url: '/intangibleassetsdepreciation/addVoucher',
                data: row,
                type: 'POST',
                async: false,
                success:function (result) {
                    $('#waitMenu').dialog('close');//关闭等待窗口
                    if(result.success){
                        $('#sg').datagrid('reload');//操作成功后重新加载页面
                        $.messager.show({title:" 提示", msg: "操作成功！"});//操作成功给出成功提示
                    }else{
                        $.messager.show({title:"提示", msg: result.errorMsg});//操作失败给出失败提示
                    }
                }
            });
        }else{
            $.messager.alert("提示","请选择要生成凭证的会计期间！","warning")
        }
    }*/
    //添加制单日期
    function addVoucher(){
        var row = $('#sg').datagrid('getSelected');//获取当前选中的会计期间
        if(row){//选中不为空
            if(row.flag=="已生成凭证"){
                $.messager.alert(" 提示", "当前会计期间已生成凭证！","warning");//判断当前会计期间是否已生成凭证
                return false;
            }
            if (row.flag == "未计提") {
                $.messager.alert(" 提示", "当前会计期间为未计提状态，不能生成凭证！", "warning");//判断当前会计期间是否为未计提状态
                return false;
            }
            //打开制单日期页面
            $('#fmC').form('clear');
            $('#dlgC').dialog('open').dialog('setTitle','生成凭证');
            $('#voucherDate').datebox('setValue',date());
        }else{
            $.messager.alert("提示","请选择要生成凭证的会计期间！","warning")
        }
    }
    function confirmC(){
        var row = $('#sg').datagrid('getSelected');//获取当前选中的会计期间
        var voucherDate=$('#voucherDate').datebox('getValue');
        row.createTime2=voucherDate;
        $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
        $.ajax({
            url: '/intangibleassetsdepreciation/addVoucher',
            data: row,
            type: 'POST',
            async: false,
            success:function (result) {
                $('#waitMenu').dialog('close');//关闭等待窗口
                if(result.success){
                    $('#dlgC').dialog('close');
                    $('#sg').datagrid('reload');//操作成功后重新加载页面
                    $.messager.show({title:" 提示", msg: "操作成功！"});//操作成功给出成功提示
                }else{
                    $.messager.show({title:"提示", msg: result.errorMsg});//操作失败给出失败提示
                }
            }
        });
    }
    //删除凭证
    function revokeVoucher(){
        var row = $('#sg').datagrid('getSelected');//获取当前选中的会计期间
        if(row){//选中不为空
            if(row.flag=="已计提"||row.flag=="未计提"){
                $.messager.alert(" 提示", "当前会计期间未生成凭证，无法进行删除凭证操作！","warning");//判断当前会计期间是否为已计提状态
                return false;
            }
            $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
            $.ajax({
                url: '/intangibleassetsdepreciation/revokeVoucher',
                data: row,
                type: 'POST',
                async: false,
                success:function (result) {
                    $('#waitMenu').dialog('close');//关闭等待窗口
                    if(result.success){
                        $('#sg').datagrid('reload');//操作成功后重新加载页面
                        $.messager.show({title:" 提示", msg: "操作成功！"});//操作成功给出成功提示
                    }else{
                        $.messager.show({title:"提示", msg: result.errorMsg});//操作失败给出失败提示
                    }
                }
            });
        }else{
            $.messager.alert("提示","请选择要生成凭证的会计期间！","warning")
        }
    }


    //等待
    function onOpen() {
        loading = setInterval(showalert, 500);
    }

    var ii = 2;
    function showalert() {
        var text = "";
        var text1 = "";
        if (ii == 1) {
            text = '正在处理，请稍后.';
        } else if (ii == 2) {
            text = '正在处理，请稍后..';
        } else if (ii == 3) {
            text = '正在处理，请稍后...';
            ii = 0;
        }
        ii++;
        $('#msg').text(text);
    }

    function onClose() {
        clearInterval(loading);
    }

    //查询
    function searchF() {
        var params = {};
        $('#serachFrom').find('input').each(function(){
            var obj = $(this);
            var name = obj.attr('name');
            if(name){
                params[name] = obj.val();
            }
        });
        $('#sg').datagrid("load", params);
    }

    //重置
    function reset() {
        $('#serachFrom').form('clear');
    }
    function date(){
        var date=new Date();
        var str = date.getFullYear()+"-";
        str += date.getMonth()+1+"-";
        str += date.getDate()+"-";
        return str;
    }
</script>
</body>
</html>