<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/head::head('凭证币种及汇率','','')">

</head>
<body>
<!-- 搜索模块 -->

<div class="easyui-panel"
     style="height: auto; width:100%;padding: 8px 0px 0px 0px;overflow: hidden;">
    <form id="searchFrom" method="post" style="margin-bottom:0;">
        <table cellpadding="5" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">
            <tr>
                <td style="width:8%;text-align: right;" >
                    <label>查询范围:</label>
                </td>
                <td  id="s" style="width:42%;text-align: left;">
                    <input style="width:20%;" id="settlePeriod1" name="beginTime" class="easyui-textbox" data-options="prompt: '开始年月'">&nbsp;--&nbsp;
                    <input style="width:20%;" id="settlePeriod2" name="endTime" class="easyui-textbox" data-options="prompt: '结束年月'">
                </td>

                <td colspan="4" style="text-align: right; padding-right: 20px;">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-search'" style="width: 16%;" onclick="searchAcc()" >查询</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-refresh'" style="width: 16%;" onclick="reset()">重置</a>
                </td>
            </tr>
        </table>
    </form>
    <!-- 展示搜索结果 -->
    <table id = "sg"></table>
</div>

<div id="waitMenu" class="easyui-dialog"
     style="width: 300px; height: 100px; padding: 10px 20px;" closed="true"
     align="center"
     data-options="modal:true,closed:true,onOpen:onOpen,onClose:onClose">
    <div id="msg"></div>
</div>

<script type="text/javascript">
    $(function () {
        $('#sg').datagrid({
            url: '/currencyexchangerateshis/list',
            striped: true,  //设置为 true，则把行条纹化。（即奇偶行使用不同背景色） 默认false,
            method: 'post', //默认为 post
            pagination: true, //设置为 true，则在数据网格（datagrid）底部显示分页工具栏。默认false
            fitColumns: true,//设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            singleSelect: true,//设置为 true，则只允许选中一行。 默认false
            checkOnSelect: true, //如果设置为 true，当用户点击某一行时，则会选中/取消选中复选框。
            pagePosition: 'bottom', //定义分页栏的位置。可用的值有：'top'、'bottom'、'both'。 默认 bottom
            pageNumber:1,
            pageList: [10, 20, 30, 40, 50], //当设置了 pagination 属性时，初始化页面尺寸的选择列表。
            nowrap: true,
            columns: [
                [
                    {field: '', checkbox: true, align: 'center'}
                    , {field: 'baseCurrencyCode', title: '本货币编码', width: '12%', align: 'center', sortable: 'true', order: 'asc'}
                    , {field: 'baseCurrencyName', title: '本货币名称', width: '15%', align: 'left', halign: 'center'}
                    , {field: 'unbaseCurrencyCode', title: '原货币编码', width: '12%', align: 'left', halign: 'center'}
                    , {field: 'unbaseCurrencyName', title: '原货币名称', width: '12%', align: 'left', halign: 'center'}
                    , {field: 'exchangeRate', title: '汇率', width: '15%', align: 'left', halign: 'center'}
                    , {field: 'updateTime', title: '修改时间', width: '15%', align: 'left', halign: 'center'}
                    , {field: 'updatePerson', title: '修改人员', width: '15%', align: 'left', halign: 'center'}
                ]
            ],
            /*,toolbar: '#tbar'*/    //通过id选择器引用
            // toolbar: [{
            //     text: '新增',
            //     iconCls: 'e-icon fa fa-plus',
            //     plain: true,
            //     handler: addThat
            // }, '-'
            //     , {
            //         text: '编辑',
            //         iconCls: 'e-icon fa fa-edit',
            //         plain: true,
            //         handler: editThat
            //     }, '-'
            //     , {
            //         text: '删除',
            //         iconCls: 'e-icon fa fa-remove',
            //         plain: true,
            //         handler: deleteThat
            //     }],
            loadMsg: '加载中...'  //当从远程站点加载数据时，显示的提示消息。
        });
        //双击弹出树状下拉框窗口
        // $("input",$("#ItemCode1").next("span")).dblclick(function () {
        //     //  $('#specialGrid').dialog('clear');
        //     var value = $("#ItemCode1").textbox('getText');
        //     $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
        //     $('#ItemTree').tree({
        //         url:'/accremarkmanage/subjectList?value='+value,
        //         onSelect:function (node) {
        //             var cknodes = $('#ItemTree').tree("getChecked");
        //             for (var i=0;i<cknodes.length;i++){
        //                 if(cknodes[i].id != node.id){
        //                     $('#ItemTree').tree('uncheck',cknodes[i].target);
        //                 }
        //             }
        //             if(node.checked){
        //                 $('#ItemTree').tree('uncheck',node.target);
        //             }else {
        //                 $('#ItemTree').tree('check',node.target);
        //             }
        //         },
        //         onLoadSuccess:function (node,data) {
        //             $('#waitMenu').dialog('close');//关闭等待窗口
        //             $('#ItemGrid').dialog('open').dialog('setTitle','科目代码');
        //             $(this).find('span.tree-checkbox').unbind().click(function () {
        //                 $('#ItemTree').tree('select',$(this).parent());
        //                 return false;
        //             });
        //         }
        //     });
        // });
        // $('#unbaseCurrencyCode').combobox({
        //     valueField:'value',
        //     textField:'text',
        //     url: '/currencyexchangerates/codelist?unbaseCode=unbaseCurrencyCode',
        //     method:'GET'
        // })
        // $('#Flag1').combobox({
        //     valueField:'value',
        //     textField:'text',
        //     url: '/codeSelect?type=useFlag',
        //     method:'GET'
        // })
    })
    //获取树状下拉框中选中的专项代码
    // function getItemCode() {
    //     //  var code = "" ;
    //     var nodes = $('#ItemTree').tree('getChecked');//获取选中
    //     //  code = nodes[0];
    //     if (nodes.length!=0) {
    //         console.log("code:"+nodes[0].sid);
    //         $('#ItemCode1').textbox('setValue',nodes[0].sid);
    //         $('#ItemGrid').dialog('close');
    //     } else {
    //         $('#ItemCode1').textbox('setValue',"");
    //         //  $.messager.alert('提示','请重新选择，不允许选择非末级科目','warning');
    //     }
    //     $('#ItemGrid').dialog('close');
    // }


    //重置
    function reset() {
        $('#searchFrom').form('clear');
    }
    function cancel() {
        $('#dlg').dialog('close');
    }
    //搜索
    function searchAcc() {
        if ($('#searchFrom').form('validate')) {
            var params = {};
            $('#searchFrom').find('input').each(function(){
                var obj = $(this);
                var id =obj.attr('name');
                if(id){
                    if(obj.val()!=""){
                        params[id]=obj.val();
                    }
                }
            });
            //使用参数执行一次查询
            $("#sg").datagrid({
                url: '/currencyexchangerateshis/list',
                queryParams: params,
                onLoadSuccess: function(data){
                    if(data.total<=0)
                        $.messager.alert("提示","未查询到相关数据","info");
                }
            });
        }
    }
    function addThat() {
        $('#ModifyFlag').hide();
        $('#ModifyReason1').textbox({required:false});
        $('#dlg').dialog('open').dialog('setTitle','新增汇率');
        $('#fm').form('clear');
        $('#RemarkCode1').textbox('setValue','CNY');
        $('#RemarkName1').textbox('setValue','人民币');
        url='/currencyexchangerates/save';
    }
    function saveAbstract() {
        if($('#fm').form('validate')) {
            var remarkCode = $('#RemarkCode1').textbox('getValue');
            if(remarkCode.length > 4){$.messager.alert('提示', '本币代码长度不可超过4个字符！', 'warning'); return false;}
            var exchangeRate = $('#ExchangeRate').textbox('getValue');
            var num = exchangeRate.lastIndexOf(".");
            var subNum = exchangeRate.substring(num+1);
            if(subNum.length > 7){$.messager.alert('提示','汇率小数点后最多6位','warning');return false;}
            $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
            var data = $('#fm').serialize();
            $.post(url, data, function (result) {
                if (result.success) {
                    $('#waitMenu').dialog('close');//关闭等待窗口
                    $.messager.alert('提示', '保存成功！', 'info');
                    $('#dlg').dialog('close');
                    $('#sg').datagrid('reload');
                } else {
                    $('#waitMenu').dialog('close');//关闭等待窗口
                    $.messager.alert('提示', result.errorMsg, 'error');
                }
            });
        }else {
            // $.messager.alert('提示', '请完整填写表单！', 'warning');
            return false;
        }
    }

    function editThat() {
        var rows = $('#sg').datagrid('getSelections');
        if(rows.length!=0) {
            var row = $('#sg').datagrid('getSelected');
            $('#ModifyReason1').textbox({required:false});
            //先清空表格
            $('#fm').form('clear');
            //加载行数据
            $('#fm').form('load',row);
            $('#ItemCode1').textbox('readonly','true');
            $('#Flag1').textbox('readonly','true');
        }else{
            $.messager.alert('提示','请先选择要编辑的摘要信息！','warning'); return false;
        }
        $('#ModifyFlag').hide();
        /*$('#ModifyReason1').textbox('setValue','');*/
        $('#ModifyReason1').textbox({required:false});
        $('#dlg').dialog('open').dialog('setTitle','编辑汇率');
        url='/currencyexchangerates/edit';
    }

    function deleteThat() {
        var rows = $('#sg').datagrid('getSelections');
        if(rows.length!=0) {
            $.messager.confirm('删除', '确认删除该摘要吗?', function (r){
                if (r) {
                    $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
                    var row = $('#sg').datagrid('getSelected');
                    // var data = {baseCurrencyCode:row.baseCurrencyCode,baseCurrencyName:row.baseCurrencyName}
                    $.ajax({
                        url: '/currencyexchangerates/delete',
                        type: 'POST',  //提交方式
                        async: false, //是否异步
                        data:{
                            baseCurrencyCode : row.baseCurrencyCode,
                            baseCurrencyName : row.baseCurrencyName,
                            unbaseCurrencyCode : row.unbaseCurrencyCode,
                            unbaseCurrencyName : row.unbaseCurrencyName,
                            exchangeRate : row.exchangeRate
                        },
                        dataType: "json",
                        success: function (data) {//这是个回调函数  data表示从action中传过来的json数据
                            //弹出从action层传过来的json格式的数据(用来显示是否更新成功)
                            $('#waitMenu').dialog('close');//关闭等待窗口
                            if(data.success){
                                $('#sg').datagrid('reload');
                                $.messager.alert('提示','删除成功！','info');
                            }else{
                                $.messager.alert('提示', data.errorMsg, 'error');
                            }
                        }
                    });
                }
            })

        }else {
            $.messager.alert('提示','请先选择要删除的摘要信息！','warning'); return false;
        }
    }
    //等待
    function onOpen() {
        loading = setInterval(showalert, 500);
    }
    var ii = 2;
    function showalert() {
        var text = "";
        var text1 = "";
        if (ii == 1) {
            text = '正在处理，请稍后.';
        } else if (ii == 2) {
            text = '正在处理，请稍后..';
        } else if (ii == 3) {
            text = '正在处理，请稍后...';
            ii = 0;
        }
        ii++;
        $('#msg').text(text);
    }
    function onClose() {
        clearInterval(loading);
    }
</script>
</body>
</html>