<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/head::head('联查辅助明细账','','')">

</head>
<body>
    <div class="easyui-panel"  style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
        <!-- 筛选条件 -->
        <form id="searchForm" method="post" style="margin-bottom: 0">
            <table cellpadding="6" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">
                <tr>
                    <td style="width:10%;text-align: right;" ><label>科目:</label></td>
                    <td style="width:13%;">
                        <span id="itemName"></span><span>(</span><span id="directionIdx"></span><span>)</span>
                    </td>
                    <td style="width:10%;text-align: right;" ><label>日期:</label></td>
                    <td style="width:13%;">
                        <span id="dateText"></span>
                    </td>
                    <td style="width:10%;text-align: right;" ><label><span id="otherName">专项</span>:</label></td>
                    <td style="width:13%;">
                        <span id="directionOtherName"></span><span>(</span><span id="directionOther"></span><span>)</span>
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;text-align: right;" ><label>开始时间:</label></td>
                    <td style="width:13%;">
                        <input style="width:100%;" id="beginDate"  name="beginDate" class="easyui-combobox" data-options="prompt: '开始时间',editable: false">
                    </td>
                    <td style="width:10%;text-align: right;" ><label>截止日期:</label></td>
                    <td style="width:13%;">
                        <input style="width:100%;" id="endDate"  name="endDate" class="easyui-datebox" data-options="prompt: '截止日期'">
                    </td>
                </tr>
            </table>
        </form>
        <br/>
        <span id="assistDirectionIdx" style="display:none" th:text="${map.assistDirectionIdx}"></span>
        <span id="assistItemName" style="display:none" th:text="${map.assistItemName}"></span>
        <span id="assistSpecialCode" style="display:none" th:text="${map.assistSpecialCode}"></span>
        <span id="assistSpecialName" style="display:none" th:text="${map.assistSpecialName}"></span>
        <span id="assistSpecialSuperCodeS" style="display:none" th:text="${map.assistSpecialSuperCodeS}"></span>
        <span id="assistSpecialSuperName" style="display:none" th:text="${map.assistSpecialSuperName}"></span>
        <span id="assistYearMonth" style="display:none" th:text="${map.assistYearMonth}"></span>
        <span id="assistEndDate" style="display:none" th:text="${map.assistEndDate}"></span>
        <span id="assistSpecialNameP" style="display:none" th:text="${map.assistSpecialNameP}"></span>

        <table id = "dg1" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
            <div align="center">
                <span align="center" style="font-size:18px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bolder" th:text="${session.currentUser.currentManageBranchName}"/>
                <br/>
                <span align="center" style="font-size:20px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bold">联查辅助明细账</span>
            </div>
        </table>
        <!--  数据列表 -->
        <table id = "dg" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;"></table>

        <table id = "dg2" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
            <tr>
                <td style="width:10%;text-align: right;" ><label>财务主管：</label></td>
                <td style="width:13%;"><span id="leader"></span></td>
                <td style="width:10%;text-align: right;" ><label>操作员：</label></td>
                <td style="width:13%;"><span id="operationUser" th:text="${session.currentUser.userName}"></span></td>
                <td style="width:10%;text-align: right;" ><label>打印日期：</label></td>
                <td style="width:13%;"><span id="printDate"></span></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="printF()"  data-options="iconCls:'e-icon fa fa-print'" style="width:20%;">打印</a>
                </td>
                <td colspan="2" style="text-align: center;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="exportF()"  data-options="iconCls:'e-icon fa fa-table'" style="width:20%;">导出</a>
                </td>
                <td colspan="2" style="text-align: center;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="closeTab('联查辅助明细账')"  data-options="iconCls:'e-icon fa fa-close'" style="width:20%;">关闭</a>
                </td>
            </tr>
        </table>
    </div>
</body>
<script th:src="@{/js/windowOpenNewPage.js}"></script>
<script>
    $(function(){
        $('#beginDate').combobox({
            valueField:'value',
            textField:'text',
            url:'/querydetailaccount/begindatelist',
            method:'GET',
            onSelect:function (record) {
                changeDateText();
                searchF();
            }
        });
        $('#endDate').datebox({
            onChange:function () {
                changeDateText();
                searchF();
            }
        });
        initData();
        $('#dg').datagrid({
            /*url: '/querydetailaccount/assistlist'
            ,*/striped: true  //设置为 true，则把行条纹化。（即奇偶行使用不同背景色） 默认false
            ,method: 'post'  //默认为 post
            //,pagination: true //设置为 true，则在数据网格（datagrid）底部显示分页工具栏。默认false
            //,rownumbers: true //设置为 true，则显示带有行号的列。默认false
            ,fitColumns: true //设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            //,autoRowHeight: true //定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            ,singleSelect: true //设置为 true，则只允许选中一行。 默认false
            //,checkOnSelect: true //如果设置为 true，当用户点击某一行时，则会选中/取消选中复选框。
            //,pagePosition: 'bottom' //定义分页栏的位置。可用的值有：'top'、'bottom'、'both'。 默认 bottom
            //,pageList: [10,20,30,40,50] //当设置了 pagination 属性时，初始化页面尺寸的选择列表。
            ,nowrap: true
            /**
             * field: 列的字段名
             * width: 列的宽度。如果未定义，则宽度会自动扩展以适应它的内容。没有定义宽度将会降低性能。
             * align： 指示如何对齐该列的数据，可以用 'left'、'right'、'center'。 默认undefined
             * halign：指示如何对齐该列的头部，可能的值：'left'、'right'、'center'。如果没有分配值，则头部对齐方式将与通过 'align' 属性定义的数据对齐方式一致。该属性自版本 1.3.2 起可用。
             * sortable： 设置为 true，则允许该列被排序。
             * order：默认的排序顺序，只能用 'asc' 或 'desc'。该属性自版本 1.3.2 起可用。
             * resizable：设置为 true，则允许该列可调整尺寸。
             * fixed: 设置为 true，则当 'fitColumns' 设置为 true 时放置调整宽度。
             * hidden: 设置为 true，则隐藏该列。
             * checkbox: 设置为 true，则显示复选框。复选框有固定宽度。
             * formatter: 单元格的格式化函数，需要三个参数：value：字段的值。rowData：行的记录数据。rowIndex：行的索引。
             */
            ,columns: [
                [
                    {field:'voucherDate',title:'日期',width:'8%',halign:'center',align:'center'},
                    {field:'voucherNo',title:'凭证号',width:'7%',halign:'center',align:'center',formatter: function(value,row,index){
                            if (value) {
                                /*return '<span title="' + value + '" style="color: blue; cursor: pointer;">' + value + '</span>';*/
                                return "<span style='color: blue; cursor: pointer;' onclick='lookInfo("+JSON.stringify(row)+")'>" + value + "</span>";
                            }
                            return value;
                        }},
                    {field:'remark',title:'摘要',width:'20%',halign:'center',align:'left'},
                    {field:'unitPrice',title:'单价',width:'9%',halign:'center',align:'right'},
                    {field:'amount',title:'数量',width:'10%',halign:'center',align:'right'},
                    {field:'debitDest',title:'借方金额',width:'12%',halign:'center',align:'right',formatter: function(value,row,index){return formate(value);}},
                    {field:'creditDest',title:'贷方金额',width:'12%',halign:'center',align:'right',formatter: function(value,row,index){return formate(value);}},
                    {field:'balanceFX',title:'方向',width:'4%',halign:'center',align:'center'},
                    {field:'balanceDest',title:'余额',width:'12%',halign:'center',align:'right',formatter: function(value,row,index){return formate(value);}},
                    {field:'flag',title:'两清标志',width:'7%',halign:'center',align:'center'}
                ]
            ],
            onClickRow: function (rowIndex, rowData) {
                $(this).datagrid('unselectRow', rowIndex);
            },
            /*onClickRow: function () {
                $('#dg').datagrid('clearSelections');
            },*/
            loadMsg:'加载中...'  //当从远程站点加载数据时，显示的提示消息。
        });
        searchF();
    });

    //初始化页面数据
    function initData() {
        //科目名称
        $("#itemName").html($("#assistItemName").text());
        $("#directionIdx").html($("#assistDirectionIdx").text());
        //开始时间、截止日期
        var beginDate = $("#assistYearMonth").text()
        $('#beginDate').combobox('setValue',beginDate);
        $('#beginDate').combobox('setText',beginDate.substring(0,4)+'.'+beginDate.substring(4));
        $('#endDate').datebox('setValue',$("#assistEndDate").text());
        //日期
        changeDateText();
        //专项段
        var superName = $("#assistSpecialSuperName").text();
        if (superName.indexOf(",")!=-1) {
            $("#otherName").html(repalceValue(superName));
        } else {
            $("#otherName").html(superName);
        }
        //专项名称
        var specialName = $("#assistSpecialName").text();
        if (specialName.indexOf(",")!=-1) {
            $("#directionOtherName").html(repalceValue(specialName));
        } else {
            $("#directionOtherName").html(specialName);
        }
        //专项编码
        var specialCode = $("#assistSpecialCode").text();
        if (specialCode.indexOf(",")!=-1) {
            $("#directionOther").html(repalceValue(specialCode));
        } else {
            $("#directionOther").html(specialCode);
        }
        //财务主管
        $("#leader").html('');
        //打印日期
        var curr_time = new Date();
        $("#printDate").html(myformatter(curr_time));
    }

    //修改日期
    function changeDateText() {
        var beginDate = $("#beginDate").combobox('getText');
        var endDate = $("#endDate").datebox('getValue');
        var dateText = '';
        //判断结束日期是否小于开始日期
        if(beginDate.substring(0,4) > endDate.substring(0,4)){
            $.messager.alert('提示', '结束日期不能小于开始日期！', 'warning'); return false;
        }else if (beginDate.substring(0,4) == endDate.substring(0,4)) {
            if(beginDate.substring(beginDate.length-2)=="JS")
                beginDate = beginDate.substring(0,4)+".12";
            if(beginDate.substring(5) > endDate.substring(5,7)){
                $.messager.alert('提示', '结束日期不能小于开始日期！', 'warning'); return false;
            }
        }
        if(beginDate.substring(beginDate.length-2)=="JS") {
            beginDate = beginDate.substring(0, 4) + '.12.31';
            //replace(/JS/g,".12.31");
            if (!endDate) {
                dateText = beginDate + $("#dateText").text().substring(10);
            } else {
                dateText = beginDate + '-' + endDate.substring(0, 4) + '.' + endDate.substring(5, 7) + '.' + endDate.substring(8, 10);
            }
        }else {
            if (beginDate&&!endDate&&(beginDate.substring(beginDate.length-2)!="JS")) {
                dateText = beginDate + $("#dateText").text().substring(10);
            } else if (endDate&&!beginDate) {
                dateText = $("#dateText").text().substring(0,11) + endDate.substring(0,4) + '.' + endDate.substring(5,7) + '.' + endDate.substring(8,10);
            } else if (beginDate&&endDate&&(beginDate.substring(beginDate.length-2)!="JS")) {
                dateText = beginDate + '.01' + '-' + endDate.substring(0,4) + '.' + endDate.substring(5,7) + '.' + endDate.substring(8,10);
            }
        }
        $("#dateText").html(dateText);
    }

    //搜索
    function searchF(){
        var params = {};
        params['yearMonth'] = $("#assistYearMonth").text();//当前会计期间
        params['beginDate'] = $("#beginDate").combobox('getValue');//开始时间
        params['endDate'] = $("#endDate").datebox('getValue');//截止日期
        params['directionIdx'] = $("#directionIdx").text();//科目方向段
        params['specialSuperCodeS'] = $("#assistSpecialSuperCodeS").text();//一级专项分类，多个用,隔开
        params['directionOther'] = $("#assistSpecialCode").text();//专项方向段，多个用,隔开
        params['specialNameP'] = $("#assistSpecialNameP").text();//专项是否全称显示(0:否，1:是；可为空)
        $("#dg").datagrid({
            url:'/querydetailaccount/assistlist',
            queryParams: params,    //查询条件
            onLoadSuccess: function(data){
                if(data.total<=0) {
                    $.messager.show({
                        title: '提示'
                        ,msg:'未查询到相关数据'
                        ,showType:'slide'
                    });
                }
            }
        });
    }

    //打印
    function printF() {
        var rows = $('#dg').datagrid('getRows');
        if (rows.length < 2) {//排除期初余额
            $.messager.alert('提示', '请先查询或没有可打印的数据！', 'warning'); return false;
        }
        /*windowOpenNewPage('/querydetailaccount/assistprint', {'printYearMonth':$('#beginDate').combobox('getValue'), 'printEndDate':$('#endDate').datebox('getValue')});*/
        windowOpenNewPage('/querydetailaccount/assistprint', {'directionIdx':$('#assistDirectionIdx').text(), 'itemName':$('#assistItemName').text(), 'specialCode':$('#assistSpecialCode').text(), 'specialSuperCodeS':$('#assistSpecialSuperCodeS').text(),'specialSuperName':$('#assistSpecialSuperName').text(), 'specialName':$('#assistSpecialName').text(), 'yearMonth':$('#beginDate').combobox('getValue'), 'endDate':$('#endDate').datebox('getValue'), 'specialNameP':$('#assistSpecialNameP').text()});
    }
    
    //导出
    function exportF() {
        var rows = $('#dg').datagrid('getRows');
        if (rows.length < 2) {//排除期初余额
            $.messager.alert('提示', '没有可导出的数据！', 'warning'); return false;
        }
        var params = {};
        params['yearMonth'] = $("#assistYearMonth").text();//当前会计期间
        params['beginDate'] = $("#beginDate").combobox('getValue');//开始时间
        params['endDate'] = $("#endDate").datebox('getValue');//截止日期
        params['directionIdx'] = $("#directionIdx").text();//科目方向段
        params['specialSuperCodeS'] = $("#assistSpecialSuperCodeS").text();//一级专项分类，多个用,隔开
        params['directionOther'] = $("#assistSpecialCode").text();//专项方向段，多个用,隔开
        params['specialNameP'] = $("#assistSpecialNameP").text();//专项是否全称显示(0:否，1:是；可为空)

        params['itemName'] = $("#itemName").text();//科目名称
        params['dateText'] = $("#dateText").text();//日期
        params['otherName'] = $("#otherName").text();
        params['directionOtherName'] = $("#directionOtherName").text();
        params['directionOthers'] = $("#directionOther").text();
        //directionIdx dateText otherName directionOtherName directionOther
        jsutil.core.download("/querydetailaccount/fzexport",params);
    }
    
    //关闭
    function closeTab(title) {
        window.close();
    }

    //查看
    function lookInfo(row) {
        //JADA代表调用查看凭证详情的页面是联查辅助明细账
        var url = '/voucher/look';
        var jsonData = {'voucherNo':row.voucherNo, 'yearMonth':row.yearMonthDate, 'specialNameP':$('#assistSpecialNameP').text(), 'type':'JADA', 'suffixNo':row.suffixNo};
        windowOpenNewPage(url, jsonData);
    }

    function myformatter(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
        return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
    }

    function formate(data) {
        if (data || (data+'')=='0') {
            return formatNumber(data, 2, 1);
        }
        return data;
    }

    //将","替换为"/"
    function repalceValue(value) {
        if (value) {
            var str = '';
            var s = value.split(",");
            for (var i=0;i<s.length;i++) {
                str = str + s[i] + '/'
            }
            value = str.substring(0,str.length-1);
        }
        return value;
    }
</script>
</html>