<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/head::head('凭证打印','','')">

</head>
<body>

<div class="easyui-panel"
     style="height: auto; width:100%;padding: 8px 0px 0px 0px;overflow: hidden;">
    <form id="searchForm" method="post" style="margin-bottom:0;">
        <table cellpadding="6" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">
            <tr>
                <td style="width:12%;text-align: right;" ><label>会计期间:</label></td>
                <td style="width:18%;">
                    <input style="width:40%;" id="yearMonth" name="yearMonth" class="easyui-combobox" data-options="prompt: '会计期间'">&nbsp;--&nbsp;
                    <input style="width:40%;" id="yearMonthDate" name="yearMonthDate" class="easyui-combobox" data-options="prompt: '会计期间'">
                </td>
                <td style="width:12%;text-align: right;" ><label>凭证号范围:</label></td>
                <td style="width:18%;">
                    <input style="width:40%;" id="voucherNoStart" name="voucherNoStart" class="easyui-textbox" data-options="prompt: '凭证号'">&nbsp;--&nbsp;
                    <input style="width:40%;" id="voucherNoEnd" name="voucherNoEnd" class="easyui-textbox" data-options="prompt: '凭证号'">
                </td>
                <td style="width:12%;text-align: right;" ><label></label></td>
                <td style="width:12%;text-align: right;" ><label></label></td>
            </tr>
            <tr>
                <td style="width:12%;text-align: right;" ><label>制单人:</label></td>
                <td style="width:18%;">
                    <input style="width:100%;" id="createBy" name="createBy" class="easyui-textbox" data-options="prompt: '制单人'">
                </td>
                <td style="width:12%;text-align: right;" ><label>挑选凭证号:</label></td>
                <td colspan="2" style="width:18%;">
                    <input style="width:100%;" id="voucherNo" name="voucherNo" class="easyui-textbox" data-options="prompt: '凭证号（如有多个凭证号请用英文逗号隔开）'">
                </td>
            </tr>
            <tr>
                <td style="width:12%;text-align: right;" ><label>专项名称全级显示:</label></td>
                <td style="width:18%;">
                    <input style="width:100%;" id="specialNameP" name="specialNameP" class="easyui-combobox" data-options="prompt: '专项名称全级显示'">
                </td>
                <!-- TODO 加日期-->
                <td style="width:8%;text-align: right;" ><label>日期:</label></td>
                <td  id="s" style="width:42%;text-align: left;">
                    <input style="width:40%;" id="voucherDateStart" name="voucherDateStart" class="easyui-datebox" data-options="prompt: '开始日期',editable:false">&nbsp;--&nbsp;
                    <input style="width:40%;" id="voucherDateEnd" name="voucherDateEnd" class="easyui-datebox" data-options="prompt: '结束日期',editable:false">
                </td>
            </tr>



            <tr>
                <td colspan="6" style="text-align: right; padding-right: 20px;">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-print'" style="width: 8%;" onclick="searchAcc()" >打印</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-refresh'" style="width: 8%;" onclick="reset()">重置</a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
<script th:src="@{/js/windowOpenNewPage.js}"></script>
<script>
    $(function () {
        $('#specialNameP').combobox({
            url:'/codeSelect?type=initAccount',
            method:'GET',
            valueField:'value',
            textField:'text',
            panelHeight:'60'
        });
        $('#yearMonth').combobox({
            url:'/codeSelect?type=yearMonthAll',
            method:'GET',
            valueField:'value',
            textField:'text',
            onLoadSuccess:function () {
                var data = $('#yearMonth').combobox('getData');
                if (data.length>0) {
                    $('#yearMonth').combobox('setValue',data[0].value);
                }
            },
            onChange:function (newValue) {
                var data = $('#yearMonthDate').combobox('getValue');
                if (!compareYearMonth(newValue, data)) {
                    $.messager.alert('提示','会计期间有误，请重新选择','warning');
                    $('#yearMonth').combobox('setValue', '');
                    return false;
                }
                if (data && data==newValue) {
                    disabledTrueOrFalse(false);
                } else {
                    disabledTrueOrFalse(true);
                }
            }
        });
        $('#yearMonthDate').combobox({
            url:'/codeSelect?type=yearMonthAll',
            method:'GET',
            valueField:'value',
            textField:'text',
            onLoadSuccess:function () {
                var data = $('#yearMonthDate').combobox('getData');
                if (data.length>0) {
                    $('#yearMonthDate').combobox('setValue',data[0].value);
                }
            },
            onChange:function (newValue) {
                var data = $('#yearMonth').combobox('getValue');
                if (!compareYearMonth(data, newValue)) {
                    $.messager.alert('提示','会计期间有误，请重新选择','warning');
                    $('#yearMonthDate').combobox('setValue', '');
                    return false;
                }
                if (data && data==newValue) {
                    disabledTrueOrFalse(false);
                } else {
                    disabledTrueOrFalse(true);
                }
            }
        });
        $('#voucherNoStart').textbox({
            onChange:function (newValue) {
                if (newValue && !parseInt(newValue)) {
                    $.messager.alert('提示','请输入合法的凭证号','warning');
                    $('#voucherNoStart').textbox('setValue', '');
                    return false;
                }
                var data = $('#voucherNoEnd').textbox('getText');
                if (!comparevoucherNo(newValue, data)) {
                    $.messager.alert('提示','凭证号范围有误，请重新输入','warning');
                    $('#voucherNoStart').textbox('setValue', '');
                    return false;
                }
            }
        });
        $('#voucherNoEnd').textbox({
            onChange:function (newValue) {
                if (newValue && !parseInt(newValue)) {
                    $.messager.alert('提示','请输入合法的凭证号','warning');
                    $('#voucherNoEnd').textbox('setValue', '');
                    return false;
                }
                var data = $('#voucherNoStart').textbox('getText');
                if (!comparevoucherNo(data, newValue)) {
                    $.messager.alert('提示','凭证号范围有误，请重新输入','warning');
                    $('#voucherNoEnd').textbox('setValue', '');
                    return false;
                }
            }
        });
        $('#voucherNo').textbox({
            onChange:function (newValue) {
                if (newValue && !parseInt(newValue)) {
                    $.messager.alert('提示','请输入合法的凭证号','warning');
                    $('#voucherNo').textbox('setValue', '');
                    return false;
                }
            }
        });

        //日期校验
        $('#voucherDateStart').datebox({
            onSelect:function(record){
                var start=$('#voucherDateStart').datebox('getValue');
                var end=$('#voucherDateEnd').datebox('getValue');
                if(start>end&&end!=null&&end!=""){
                    $.messager.alert("提示","开始日期不能大于结束日期！","info");
                    $('#voucherDateStart').datebox('setValue','');
                }
            }
        })
        $('#voucherDateEnd').datebox({
            onSelect:function(record){
                var start=$('#voucherDateStart').datebox('getValue');
                var end=$('#voucherDateEnd').datebox('getValue');
                if(start>end&&end!=null&&end!=""){
                    $.messager.alert("提示","结束日期不能小于开始日期！","info");
                    $('#voucherDateEnd').datebox('setValue','');
                }
            }
        })
    });

    function disabledTrueOrFalse(flag) {
        $('#voucherNoStart').textbox({disabled: flag});
        $('#voucherNoEnd').textbox({disabled: flag});
        $('#voucherNo').textbox({disabled: flag});
    }

    function compareYearMonth(start, end) {
        if (start && end) {
            if (start.indexOf('JS')==-1 && end.indexOf('JS')==-1) {
                if (parseInt(start)>parseInt(end)) {//开始大于结束
                    return false;
                }
                return true;
            } else if (start.indexOf('JS')!=-1 && end.indexOf('JS')==-1) {
                if (parseInt(start.substring(0,4))>=parseInt(end.substring(0,4))) {//开始大于结束
                    return false;
                }
                return true;
            } else {
                if (parseInt(start.substring(0,4))>parseInt(end.substring(0,4))) {//开始大于结束
                    return false;
                }
                return true;
            }
        } else {
            return true;
        }
    }

    function comparevoucherNo(arg1, arg2) {
        if (arg1 && arg2) {
            if (parseInt(arg1)>parseInt(arg2)) {
                return false;
            }
            return true;
        } else {
            return true;
        }
    }
    
    function searchAcc() {
        var data = {};
        data['copyType'] = '4';
        data['yearMonth'] = $("#yearMonth").combobox('getValue');
        data['yearMonthDate'] = $("#yearMonthDate").combobox('getValue');
        data['createBy'] = $("#createBy").textbox('getText');
        data['specialNameP'] = $("#specialNameP").combobox('getValue');
        data['voucherDateStart'] =$('#voucherDateStart').datebox('getValue');
        data['voucherDateEnd'] =$('#voucherDateEnd').datebox('getValue');

        if ($("#yearMonth").combobox('getValue') == $("#yearMonthDate").combobox('getValue')) {
            data['voucherNoStart'] = $("#voucherNoStart").textbox('getText');
            data['voucherNoEnd'] = $("#voucherNoEnd").textbox('getText');
            data['voucherNo'] = $("#voucherNo").textbox('getText');
        }
        $.post('/voucherprint/printlist', data, function (result) {
            if (result.length>0) {
                windowOpenNewPage('/voucherprint/print', data);
            } else {
                //无打印的凭证数据
                $.messager.alert('提示','无凭证打印数据','info');
            }
        });
    }

    function reset() {
        $('#searchForm').form('clear');
        disabledTrueOrFalse(true);
    }
</script>
</html>