<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/head::head('固定资产卡片查询','','')">

</head>
<body>
<!-- 搜索界面 -->

    <div class="easyui-panel"
         style="height: auto; width:100%;padding: 8px 0px 0px 0px;overflow: hidden;">
        <form id="serachFrom" method="post" style="margin-bottom:0;">
            <table cellpadding="5" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">

                <tr>
                    <td style="width:12%;text-align: right;" >
                        <label>固定资产类别:</label>
                    </td>
                    <td style="width:20%;"  ondblclick="getAssetType1()">
                        <input style="width:60%;" id="fixedAssetsType" name="assetType" class="easyui-textbox" editable="false" data-options="prompt: '请输入固定资产类别'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>固定资产编码:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:90px;" id="fixedAssetsCode" name="assetCode1" editable="false" class="easyui-combobox"  disabled="disabled" data-options="prompt: '请输入固定资产编码',onSelect:compareAssetCode">&nbsp;-&nbsp;
                        <input style="width:90px;" id="fixedAssetsCodeEnd" name="assetCode2" editable="false" class="easyui-combobox" disabled="disabled"  data-options="prompt: '请输入固定资产编码',onSelect:compareAssetCode">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>卡片编号:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:90px;" id="cardCode" name="cardCode" class="easyui-textbox" data-options="prompt: '卡片编号'">&nbsp;-&nbsp;
                        <input style="width:90px;" id="cardCodeEnd" name="cardCode1" class="easyui-textbox" data-options="prompt: '卡片编号'">
                    </td>
                </tr>
                <tr>
                    <td style="width:12%;text-align: right;" >
                        <label>是否已经生成凭证:</label>
                    </td>
                    <td style="width:15%;">
                        <input style="width:60%;" id="isNotVoucher" name="isNotVoucher" class="easyui-combobox" editable="false" data-options="prompt: '请选择'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>启用时间:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:90px;" id="timeStart" name="useStartDate" editable="false" class="easyui-datebox" data-options="prompt: '请输入启用时间' , onSelect:onSelect">&nbsp;-&nbsp;
                        <input style="width:90px;" id="timeEnd" name="useStartDate1" editable="false" class="easyui-datebox" data-options="prompt: '请输入启用时间' , onSelect:onSelect">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>累计折旧金额:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:90px;" id="depreciationValue" name="endDepreMoney" class="easyui-numberbox" data-options="prompt: '请输入累计折旧金额',precision:2">&nbsp;-&nbsp;
                        <input style="width:90px;" id="depreciationValueMax" name="endDepreMoney1" class="easyui-numberbox" data-options="prompt: '请输入累计折旧金额',precision:2">
                    </td>
                </tr>
                <tr>
                    <td style="width:12%;text-align: right;" >
                        <label>是否包括已停用卡片:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="stopFlag" name="stopCard" editable="false" class="easyui-combobox" data-options="prompt: '请选择'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>折旧至日期:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="depreUtilDate" name="depreToDate" editable="false" class="easyui-datebox" data-options="prompt: '请输入折旧至日期'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>预计使用总量:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:90px;" id="useAmount" name="depYears" class="easyui-numberbox" data-options="prompt: '请输入预计使用总量'">&nbsp;-&nbsp;
                        <input style="width:90px;" id="useAmountMax" name="depYears1" class="easyui-numberbox" data-options="prompt: '请输入预计使用总量'">
                    </td>
                </tr>
                <tr>
                    <td style="width:12%;text-align: right;" >
                        <label>是否包括已清理卡片:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="clearFlag" name="cleanCard" editable="false" class="easyui-combobox" data-options="prompt: '请选择'">
                    </td>
                    <td style="width:10%;text-align: right;" >
                        <label>变动日期:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="changeDate" name="changeDate" editable="false" class="easyui-datebox" data-options="prompt: '请输入变动日期'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>原值:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:90px;" id="originalValue" name="assetOriginValue" class="easyui-numberbox" data-options="prompt: '请输入原值',precision:2">&nbsp;-&nbsp;
                        <input style="width:90px;" id="originalValueMax" name="assetOriginValue1" class="easyui-numberbox" data-options="prompt: '请输入原值',precision:2">
                    </td>
                </tr>
                <tr>
                    <td style="width:12%;text-align: right;" >
                        <label>变更信息:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="changeMessage" name="changeMessage" editable="false" class="easyui-combobox" data-options="prompt: '请选择变更信息'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>使用部门:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="useDept" name="unitCode" editable="false" class="easyui-combobox" data-options="prompt: '请输入使用部门'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>净值:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:90px;" id="netWeight" name="assetNetValue" class="easyui-numberbox" data-options="prompt: '请输入净值',precision:2">&nbsp;-&nbsp;
                        <input style="width:90px;" id="netWeightMax" name="assetNetValue1" class="easyui-numberbox" data-options="prompt: '请输入净值',precision:2">
                    </td>
                </tr>
                <tr>
                    <td style="width:12%;text-align: right;" >
                        <label>来源:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="source" name="sourceFlag" editable="false" class="easyui-combobox" data-options="prompt: '请输入来源'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>变动类型:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="changeType" name="changeType" class="easyui-combobox" editable="false" data-options="prompt: '请选择变动类型'">
                    </td>
                    <td style="width:12%;text-align: right;" >
                        <label>制单人:</label>
                    </td>
                    <td style="width:20%;">
                        <input style="width:60%;" id="madeBy" name="createOper" class="easyui-textbox" data-options="prompt: '请输入制单人'">
                    </td>

                </tr>
                <tr>
                    <td colspan="8" style="text-align: right; padding-right: 20px;">
                        <a href="#" class="easyui-linkbutton" style="width: 10%;"  data-options="iconCls:'e-icon fa fa-search'" onclick="serach()" >查询</a>
                        <a href="#" class="easyui-linkbutton" style="width: 10%;" data-options="iconCls:'e-icon fa fa-refresh'" onclick="reset()">重置</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" style="width: 10%;" data-options="iconCls:'e-icon fa fa-download'" onclick="export_('固定资产卡片查询信息表')">导出</a>
                        <a href="#" class="easyui-linkbutton" style="width: 10%;" data-options="iconCls:'e-icon fa fa-print'" onclick="print_()">打印</a>
                    </td>
                </tr>
            </table>

        </form>
        <!-- 展示搜索结果 -->
        <table id = "hg" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;"></table>
    </div>
<!-- 新建弹框 -->
    <div id="dlg"  class="easyui-dialog" style="width: 600px;height: 500px; padding: 10px 20px" align="center"
         data-options="modal:true,closed:true,resizable:true,maximizable:true"  buttons="#dlg-buttons1">
        <form id="fm" method="post">
            <table cellpadding="4" class="tt">
                <tr bgcolor="#6c90da">
                    <th colspan="4">基本信息</th>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>卡片编号:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="cardCode1"  name="cardCode" data-options="prompt:'专项代码'">
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>管理类别<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-combobox" id="codeType" name="codeType" data-options="prompt:'管理类别',required:true,missingMessage:'请输入管理类别'">
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>固定资产类别<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd" ondblclick="getAssetType()">
                        <input class="easyui-textbox" id="assetType" name="assetType"  data-options="prompt:'固定资产类别',required:true,missingMessage:'请输入固定资产类别'">
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>固定资产编号<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id ="assetCode" name="assetCode"   data-options="prompt:'固定资产编号',required:true,missingMessage:'请输入固定资产编号'" >

                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>固定资产名称<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input  class="easyui-textbox" id="assetName" name="assetName"data-options="prompt:'固定资产名称',required:true,missingMessage:'请输入固定资产名称'">
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>厂商:</label></td>
                    <td class="ttd rtd">
                        <input  class="easyui-textbox" id="manufactor" name="manufactor"data-options="prompt:'厂商'">
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>规格:</label></td>
                    <td class="ttd rtd">
                        <input  class="easyui-textbox" id="specification" name="specification"data-options="prompt:'规格'">
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;"class="ttd ltd"><label>序列号:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="serial_number" name="serial_number" data-options="prompt:'序列号'" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>来源<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-combobox" id="sourceFlag" name="sourceFlag" data-options="prompt:'来源',required:true,missingMessage:'请输入固定资产名称'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>计量单位<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="metricName" name="metricName" data-options="prompt:'计量单位',required:true,missingMessage:'请输入计量单位'" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>数量:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="quantity" name="quantity" data-options="prompt:'数量'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>使用部门<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-combobox" id="unitCode" name="unitCode" data-options="prompt:'使用部门',required:true,missingMessage:'请选择使用部门'" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>启用时间<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-datebox" id="useStartDate" name="useStartDate" data-options="prompt:'启用时间',required:true,missingMessage:'请选择启用时间'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>使用状态:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-combobox" id="useFlag" name="useFlag" data-options="prompt:'使用状态'" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>存放地点:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-combobox" id="organization" name="organization" data-options="prompt:'存放地点'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>备注:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="temp" name="temp" data-options="prompt:'备注'" />
                    </td>

                </tr>
                <tr bgcolor="#6c90da">
                    <th colspan="4">核算信息</th>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>原值<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-numberbox" id="assetOriginValue" name="assetOriginValue" data-options="prompt:'原值',required:true,missingMessage:'请输入原值',precision:2,groupSeparator:','" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>使用年限(月):</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="depYears" name="depYears" data-options="prompt:'使用年限(月)'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>减值准备<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd" >
                        <input class="easyui-numberbox" id="impairment" name="impairment" data-options="prompt:'减值准备',required:true,missingMessage:'请输入减值准备',precision:2,groupSeparator:','" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>净值<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-numberbox" id="assetNetValue" name="assetNetValue" data-options="prompt:'净值',required:true,missingMessage:'请输入净值',precision:2,groupSeparator:','" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>增值税率<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd" >
                        <input class="easyui-textbox" id="addedTax" name="addedTax" data-options="prompt:'增值税率',required:true,missingMessage:'请输入增值税率',precision:4,groupSeparator:','" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>金额<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-numberbox" id="sum" name="sum" data-options="prompt:'金额',required:true,missingMessage:'请输入金额',precision:2,groupSeparator:','" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>进项税额<span style="color: red">*</span>:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-numberbox" id="inputTax" name="inputTax" data-options="prompt:'进项税额',required:true,missingMessage:'请输入进项税额',precision:2,groupSeparator:','" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>付款方式:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-combobox" id="payWay" name="payWay" data-options="prompt:'付款方式'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>付款专项:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-combobox" id="payCode" name="payCode" data-options="prompt:'付款专项'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>预计残值率:</label></td>
                    <td class="ttd rtd" >
                        <input class="easyui-textbox" id="remainsRate" name="remainsRate" data-options="prompt:'预计残值率',precision:4,groupSeparator:','" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>预计残值:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-numberbox" id="remainsValue" name="remainsValue" data-options="prompt:'预计残值',precision:2,groupSeparator:','" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>预计清理费用:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-numberbox" id="predictClearFee" name="predictClearFee" data-options="prompt:'预计清理费用',precision:2,groupSeparator:','" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>折旧方法:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="depType" name="depType" data-options="prompt:'折旧方法'" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>期初已折旧月份:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="initDepreAmount" name="initDepreAmount" data-options="prompt:'期初已折旧月份'" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>期初折旧金额:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-numberbox" id="initDepreMoney" name="initDepreMoney" data-options="prompt:'期初折旧金额',precision:2,groupSeparator:','" />
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>折旧起始日期:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="depreFromDate" name="depreFromDate" data-options="prompt:'折旧起始日期'" />
                    </td>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>已折旧至日期:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-textbox" id="depreToDate" name="depreToDate" data-options="prompt:'已折旧至日期'" />
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td style="width:15%;text-align: right;" class="ttd ltd"><label>期末累计折旧月份:</label></td>-->
                    <!--<td class="ttd rtd">-->
                        <!--<input class="easyui-textbox" id="endDepreAmount" name="endDepreAmount" data-options="prompt:'期末累计折旧月份'" />-->
                    <!--</td>-->
                    <!--<td style="width:15%;text-align: right;" class="ttd ltd"><label>期末累计折旧金额:</label></td>-->
                    <!--<td class="ttd rtd" >-->
                        <!--<input class="easyui-textbox" id="endDepreMoney" name="endDepreMoney" data-options="prompt:'期末累计折旧金额'" />-->
                    <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td style="width:15%;text-align: right;" class="ttd ltd"><label>折旧计提状态:</label></td>
                    <td class="ttd rtd">
                        <input class="easyui-combobox" id="depreFlag" name="depreFlag" data-options="prompt:'折旧计提状态'" />
                    </td>
                </tr>
               <!-- <tr bgcolor="#6c90da">
                    <th colspan="4">变动信息</th>
                </tr>-->
               <br>
             <!--   <tr>
                    <td colspan="4" style="text-align: right; ">
                        <a href="#" class="easyui-linkbutton"  iconCls="icon-ok icon-large" onclick="machine()">台账</a>&nbsp;
&lt;!&ndash;
                        <a href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-remove" onclick="javascript:$('#dlg').dialog('close')">取消</a>
&ndash;&gt;
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-print'">打印</a>&nbsp;

                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-remove'"  onclick="javascript:$('#dlg').dialog('close')">返回</a>

                    </td>
                </tr>-->
                <tr bgcolor="#6c90da" id="changefg1">
                    <th colspan="4">变动信息</th>
                </tr>
            </table>
            <div id="changefg2">
            <table id = "fg" class="easyui-datagrid"></table>
            </div>

            <input type='Hidden' name="springmvc.token" value="">

        </form>
<br>
       <div id="dlg-buttons1" style="text-align: right; ">
           <a href="#" class="easyui-linkbutton"  iconCls="icon-ok icon-large" onclick="machine()">台账</a>&nbsp;
           <!--
                                   <a href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-remove" onclick="javascript:$('#dlg').dialog('close')">取消</a>
           -->
           <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-print'">打印</a>&nbsp;

           <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-remove'"  onclick="javascript:$('#dlg').dialog('close')">返回</a>
       </div>
    </div>

<!--<div id="assetTypeGrid" class="easyui-dialog" style="width: 40%;top: 25%;padding:10px 10px 10px 10px;" data-options="modal:true,closed:true,resizable:false,collapsible:false,minimizable:false,maximizable:true" buttons="#roleData-buttons">
    <div class="easyui-panel" style="width: 100%;">
        <ul id="assetTypeTree" class="easyui-tree"  data-options="method:'get',animate:true,checkbox:true,onlyLeafCheck:true,cascadeCheck:false"></ul>
    </div>
    <div id="roleData-buttons">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok icon-large" onclick="saveSuperType()">确定</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove icon-large" onclick="javascript:$('#assetTypeGrid').dialog('close')">取消</a>

    </div>
</div>-->

<div id="waitMenu" class="easyui-dialog" style="width: 600px; height: 200px; padding: 10px 20px;" closed="true" align="center" data-options="modal:true,closed:true,onOpen:onOpen,onClose:onClose">
    <div id="msg"></div>
</div>
<div id="dlgA"  class="easyui-dialog" style="width: 800px; padding: 10px 20px" align="center"
     data-options="modal:true,closed:true,resizable:true,maximizable:true"  buttons="#dlg-buttons">
    <form id="fmA" method="post">
        <table cellpadding="4" class="tt">
            <tr bgcolor="#6c90da">
                <th colspan="4">固定资产台账查询</th>
            </tr>
            <tr>
                <td style="width:15%;text-align: right;" class="ttd ltd"><label>固定资产类别:</label></td>
                <td class="ttd rtd" >
                    <input class="easyui-textbox" id="assetTypeA" editable="false" name="assetType"  data-options="prompt:'固定资产类别',missingMessage:'请输入固定资产类别'">
                </td>
                <td style="width:15%;text-align: right;" class="ttd ltd"><label>固定资产类别名称:</label></td>
                <td class="ttd rtd ">
                    <input class="easyui-textbox" id="assetTypeNameA" editable="false" name="assetTypeName"  data-options="prompt:'固定资产类别',missingMessage:'请输入固定资产类别'">
                </td>
            </tr>
            <tr>
                <td style="width:15%;text-align: right;" class="ttd ltd"><label>卡片编号:</label></td>
                <td class="ttd rtd">
                    <input class="easyui-textbox" id="cardCodeA" editable="false" name="cardCode" data-options="prompt:'专项代码'">
                </td>
                <td style="width:15%;text-align: right;" class="ttd ltd"><label>固定资产名称:</label></td>
                <td class="ttd rtd">
                    <input  class="easyui-textbox" id="assetNameA" editable="false" name="assetName"data-options="prompt:'固定资产名称',missingMessage:'请输入固定资产名称'">
                </td>
            </tr>
            <tr bgcolor="#6c90da">
                <th colspan="4">固定资产折旧</th>
            </tr>
        </table>

       <table id="sg" class="easyui-datagrid">

       </table>
        <div id="dlg-buttons" align="center">
            <!--   <a href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-remove" onclick="cancel()">取消</a>-->
            <a href="#" class="easyui-linkbutton" iconCls='e-icon fa fa-print' onclick="printA()">打印</a>

            <a href="#" class="easyui-linkbutton" iconCls='e-icon fa fa-remove' onclick="javascript:$('#dlgA').dialog('close')">返回</a>
        </div>
    </form>


</div>
<div id="fixedAssetTypeGrid" class="easyui-dialog" style="width: 40%;top: 30%;padding:10px 10px 10px 10px;" data-options="modal:true,closed:true,resizable:false,collapsible:false,minimizable:false,maximizable:true" buttons="#roleData-buttons1">
    <div class="easyui-panel" style="width: 100%;">
        <ul id="fixedAssetTypeTree" class="easyui-tree"  data-options="method:'get',animate:true,checkbox:true,onlyLeafCheck:true,cascadeCheck:false"></ul>
    </div>
    <div id="roleData-buttons1">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok icon-large" onclick="saveSuperType1()">确定</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove icon-large" onclick="javascript:$('#fixedAssetTypeGrid').dialog('close')">取消</a>

    </div>
</div>
<script th:src="@{/js/fixedassetscardselectsExport.js}"></script>
<script th:src="@{/js/windowOpenNewPage.js}"></script>
<script type="text/javascript">

    $(function () {
        $('#hg').datagrid({
            url: '/fixedassetscardselect/list',
            striped: true,  //设置为 true，则把行条纹化。（即奇偶行使用不同背景色） 默认false,
            method: 'post', //默认为 post
            pagination: true, //设置为 true，则在数据网格（datagrid）底部显示分页工具栏。默认false
            //,rownumbers: true //设置为 true，则显示带有行号的列。默认false
            fitColumns: true,//设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            //,autoRowHeight: true //定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
               singleSelect: true,//设置为 true，则只允许选中一行。 默认false
            checkOnSelect: true, //如果设置为 true，当用户点击某一行时，则会选中/取消选中复选框。
            pagePosition: 'bottom', //定义分页栏的位置。可用的值有：'top'、'bottom'、'both'。 默认 bottom
            pageList: [10, 20, 30, 40, 50], //当设置了 pagination 属性时，初始化页面尺寸的选择列表。
            nowrap: true,
            remoteSort: false,
            /**
             * field: 列的字段名
             * width: 列的宽度。如果未定义，则宽度会自动扩展以适应它的内容。没有定义宽度将会降低性能。
             * align： 指示如何对齐该列的数据，可以用 'left'、'right'、'center'。 默认undefined
             * halign：指示如何对齐该列的头部，可能的值：'left'、'right'、'center'。如果没有分配值，则头部对齐方式将与通过 'align' 属性定义的数据对齐方式一致。该属性自版本 1.3.2 起可用。
             * sortable： 设置为 true，则允许该列被排序。
             * order：默认的排序顺序，只能用 'asc' 或 'desc'。该属性自版本 1.3.2 起可用。
             * resizable：设置为 true，则允许该列可调整尺寸。
             * fixed: 设置为 true，则当 'fitColumns' 设置为 true 时放置调整宽度。
             * hidden: 设置为 true，则隐藏该列。
             * checkbox: 设置为 true，则显示复选框。复选框有固定宽度。
             * formatter: 单元格的格式化函数，需要三个参数：value：字段的值。rowData：行的记录数据。rowIndex：行的索引。
             */
            columns: [
                [
                    //{field: 'ck', checkbox: true,  width: '2%', halign: 'center', align: 'center'}
                   {field: 'cardCode', title: '卡片编码', width: '7%', halign: 'center', align: 'center', sortable: 'true', order: 'asc',formatter:function(value,row){
                        return "<span onclick='checkThat("+JSON.stringify(row)+")' style='cursor:pointer;color:blue;'>"+row.cardCode+"</span>";
                    }}
                    , {field: 'assetCode', title: '固定资产编码', width: '7%', halign: 'center', align: 'left',sortable:true,
                            sorter:function(a,b) { return a>b?1:-1
                    }}
                    , {field: 'assetTypeName', title: '固定资产类别', width: '10%', halign: 'center', align: 'left'}
                    , {field: 'assetName', title: '固定资产名称', width: '7%', halign: 'center', align: 'left'}
                    , {field: 'specification', title: '规格', width: '4%', halign: 'center', align: 'left'}
                    , {field: 'assetOriginValue', title: '原值', width: '4%', halign: 'center', align: 'left',formatter: function(value,row) {
                        if(row.assetOriginValue!=null) return formate(value);},sortable:true,
                            sorter:function(a,b) {return a>b?1:-1
                    }}
                    , {field: 'assetNetValue', title: '净值', width: '4%', halign: 'center', align: 'left',formatter: function(value,row) {
                        if(row.assetNetValue!=null) return formate(value);},sortable:true,
                            sorter:function(a,b) {return a>b?1:-1
                    }}
                    , {field: 'monthDepreMoney', title: '本月折旧金额', width: '7%', halign: 'center', align: 'left',formatter: function(value,row) {
                        if(row.monthDepreMoney!=null) return formate(value);},sortable:true,
                            sorter:function(a,b) {return a>b?1:-1
                    }}
                    , {field: 'endDepreMoney', title: '累计折旧金额', width: '7%', halign: 'center', align: 'left',formatter: function(value,row) {
                        if(row.remainsValue!=null) return formate(value);},sortable:true,
                            sorter:function(a,b) {return a>b?1:-1
                    }}
                    , {field: 'depYears', title: '预计使用总量', width: '7%', halign: 'center', align: 'left',sortable:true,
                            sorter:function(a,b) { return a>b?1:-1
                    }}
                    , {field: 'endDepreAmount', title: '期末累计折旧量', width: '7%', halign: 'center', align: 'left',sortable:true,
                            sorter:function(a,b) { return a>b?1:-1
                    }}
                    , {field: 'remainsValue', title: '预计残值', width: '6%', halign: 'center', align: 'left',formatter: function(value,row) {
                        if(row.remainsValue!=null) return formate(value);},sortable:true,
                            sorter:function(a,b) {return a>b?1:-1
                    }}
                    , {field: 'remainsRate', title: '预计残值率', width: '8%', halign: 'center', align: 'left',formatter: function(value,row) {
                        if(row.remainsRate!=null) return value.toFixed(4);},sortable:true,
                            sorter:function(a,b) {return a>b?1:-1
                    }}
                    , {field: 'useStartDate', title: '启用日期', width: '6%', halign: 'center', align: 'center',sortable:true,
                        sorter:function(a,b){
                            a = a.split('-');
                            b = b.split('-');
                            if (a[2] == b[2]){
                                if (a[0] == b[0]){
                                    return (a[1]>b[1]?1:-1);
                                } else {
                                    return (a[0]>b[0]?1:-1);
                                }
                            } else {
                                return (a[2]>b[2]?1:-1);
                            }
                        }}
                    , {field: 'unitCode', title: '使用部门', width: '6%', halign: 'center', halign: 'center', align:  'center'}
                    , {field: 'useFlag', title: '状态', width: '4%', halign: 'center', align: 'center',formatter: function(value,row) {
                        if (row.useFlag == '0') {
                            return "停用";
                        } else {
                            return "使用";
                        }
                    }}
                ]
            ],
            // onClickRow: function (rowIndex, rowData) {
            //     $(this).datagrid('unselectRow', rowIndex);
            // },
            /*,toolbar: '#tbar'*/    //通过id选择器引用
          /*  toolbar: [{
                    text: '台账查询',
                    iconCls: 'e-icon fa fa-plus',
                    plain: true,
                    handler: machine
                }],*/
            loadMsg: '加载中...'  //当从远程站点加载数据时，显示的提示消息。
        });

        $('#stopFlag').combobox({
            valueField:'value',
            textField:'text',
            url:'/codeSelect?type=stopCard',
            method:'GET',
            panelHeight:'60'
        });
        $('#clearFlag').combobox({
            valueField:'value',
            textField:'text',
            url:'/codeSelect?type=cleanCard',
            method:'GET',
            panelHeight:'90'
        });
        $('#changeMessage').combobox({
            valueField:'value',
            textField:'text',
            url:'/codeSelect?type=changeMessage',
            method:'GET',
            panelHeight:'90',
            // onChange:function(newValue,oldValue){
            //     if(newValue==1){
            //         $('#changeDate').combobox('readonly',true);
            //         $('#changeType').combobox('readonly',true)
            //     }else{
            //         $('#changeDate').combobox('readonly',false);
            //         $('#changeType').combobox('readonly',false)
            //     }
            // }

        });
        $('#isNotVoucher').combobox({
            valueField:'value',
            textField:'text',
            url:'/codeSelect?type=isNotVoucher',
            method:'GET',
            panelHeight:'60'
        });
        $('#changeType').combobox({
            valueField:'value',
            textField:'text',
            url:'/codeSelect?type=fixChangeType',
            method:'GET',
            panelHeight:'90'
        });
        //来源
        $('#sourceFlag').combobox({
            valueField:'value',
            textField:'text',
            url: '/codeSelect?type=sourceFlag',
            method:'GET'
            // panelHeight:'60'

        });
        //来源
        $('#source').combobox({
            valueField:'value',
            textField:'text',
            url: '/codeSelect?type=sourceFlag',
            method:'GET'
            // panelHeight:'60'

        });
        //使用状态
        $('#useFlag').combobox({
            valueField:'value',
            textField:'text',
            url: '/codeSelect?type=useFlag',
            method:'GET',
            panelHeight:'60'
        });
        //折旧计提状态
        $('#depreFlag').combobox({
            valueField:'value',
            textField:'text',
            url: '/codeSelect?type=deprCalculationFlag',
            method:'GET',
            panelHeight:'60'
        });

        //使用部门
        $('#useDept').combobox({
            valueField:'value',
            textField:'text',
            url: '/fixedassetscard/unitCode'
        });
        //使用部门
        $('#unitCode').combobox({
            valueField:'value',
            textField:'text',
            url: '/fixedassetscard/unitCode'
        });

        //折旧至日期 事件绑定  用于时间校验
        $('#depreUtilDate').datebox({
            onChange:function(n,o){
                var data = {"depreUtilDate":n};
                $.post('/fixedassetscard/checkDepreToDate', data, function(result){
                    if(!result.success){
                        $.messager.alert("提示",result.errorMsg,"error");
                        $('#depreUtilDate').textbox('setValue',result.data.substring(0,4)+"-"+result.data.substring(4,6)+"-01");
                        return false;
                    }
                },'json');
            }
        });
    });

    //固定资产类别 双击事件 查询界面
    function getAssetType1() {
        var codeValue = "";
        $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
        $('#fixedAssetTypeTree').tree({
            url:'/fixedassetscard/assetType?value='+encodeURI(codeValue)+'&onlyLastStage=N',
            onSelect: function (node) {
                var cknodes = $('#fixedAssetTypeTree').tree("getChecked");
                for (var i = 0; i < cknodes.length; i++) {
                    if (cknodes[i].id != node.id) {
                        $('#fixedAssetTypeTree').tree("uncheck", cknodes[i].target);
                    }
                }
                if (node.checked) {
                    $('#fixedAssetTypeTree').tree('uncheck', node.target);
                } else {
                    $('#fixedAssetTypeTree').tree('check', node.target);
                }
            },
            onLoadSuccess: function (node, data) {
                $('#waitMenu').dialog('close');//关闭等待窗口
                $('#fixedAssetTypeGrid').dialog('open').dialog('setTitle','固定资产类别');
                $(this).find('span.tree-checkbox').unbind().click(function () {
                    $('#fixedAssetTypeTree').tree('select', $(this).parent());
                    return false;
                });
            }
        });
    }
    //保存树状选择信息 查询界面
    function saveSuperType1() {
        var superCode = "";
        var superName = "";
        var nodes = $('#fixedAssetTypeTree').tree('getChecked');//获取选中类别信息
        if (nodes.length > 0) {
            superCode = nodes[0].id;
            superName = nodes[0].text;
            $('#fixedAssetsType').textbox('setValue', superCode);
            $('#fixedAssetTypeGrid').dialog('close');
            $('#fixedAssetsCode').combobox({disabled:false});
            $('#fixedAssetsCodeEnd').combobox({disabled:false});
            $('#fixedAssetsCode').combobox({
                valueField:'value',
                textField:'text',
                url:'/fixedassetscard/assetcodelist?fixedAssetType='+superCode,
                method:'GET',
                panelHeight:'100'
            });
            $('#fixedAssetsCodeEnd').combobox({
                valueField:'value',
                textField:'text',
                url:'/fixedassetscard/assetcodelist?fixedAssetType='+superCode,
                method:'GET',
                panelHeight:'100'
            });
        }else {
            $('#fixedAssetsType').textbox('setValue', "");
            $('#fixedAssetsCode').combobox({disabled:true});
            $('#fixedAssetsCodeEnd').combobox({disabled:true});
            $('#fixedAssetTypeGrid').dialog('close');
        }
    }
    //搜索
    function serach(){

     /*   if(($("#cardCode").val().length!=5&&$("#cardCode").val()!="") ||($("#cardCodeEnd").val().length!=5&&$("#cardCodeEnd").val()!="")){
            $.messager.alert('提示','卡片编号请输入长度length为5的数字！','warning');
            return;
        }*/
        if (parseInt($('#cardCode').val()) > parseInt($('#cardCodeEnd').val())) {
            $.messager.alert('提示', '-卡片编号-请按照从小到大的顺序填写', 'warning');
            return;
        }
        //console.log("--"+$('#originalValue').val()+"="+$('#originalValueMax').val());
        if(parseFloat($('#originalValue').val())>parseFloat($('#originalValueMax').val())){
            $.messager.alert('提示','-原值-请按照从小到大的顺序填写','warning');
            return;
        }
        if(parseFloat($('#netWeight').val())>parseFloat($('#netWeightMax').val())){
            $.messager.alert('提示','-净值请-按照从小到大的顺序填写','warning');
            return;
        }
        if(parseFloat($('#depreciationValue').val())>parseFloat($('#depreciationValueMax').val())){
            $.messager.alert('提示','-累计摊销额-请按照从小到大的顺序填写','warning');
            return;
        }
        if(parseFloat($('#useAmount').val())>parseFloat($('#useAmountMax').val())){
            $.messager.alert('提示','-预计使用总量-请按照从小到大的顺序填写','warning');
            return;
        }
        var timeStart=$('#timeStart').datebox('getValue');
        var depreUtilDate=$('#depreUtilDate').datebox('getValue');
        if(new Date(timeStart).getTime()>new Date(depreUtilDate).getTime()){
            $.messager.alert('提示','折旧至日期必须大于启用时间起始日期','warning');
            return;
        }

        var params = {};
            $('#serachFrom').find('input').each(function(){
                var obj = $(this);
                var name = obj.attr('name');
                if(name){
                    params[name] = obj.val();
                }
            });
            // //使用参数执行一次查询
            // $("#hg").datagrid({
            //     queryParams: params,
            //     onLoadSuccess: function(data){
            //         if(data.total<=0)
            //             $.messager.alert("提示","未查询到相关数据","info");
            //     }
            // });
        $("#hg").datagrid('load',params);


    }
    //重置
    function reset(){
        $('#serachFrom').form('clear');
        $('#fixedAssetsCode').combobox({disabled:true});
        $('#fixedAssetsCodeEnd').combobox({disabled:true});
    }

    //导出
    function export_(xlsName){
        //准备参数
        var result = prepareParam(xlsName);
        if (result == "false") {
            return false;
        }
        //使用参数执行一次查询，且将查询数据导出
        jsutil.core.download(
            'fixedassetscardselectsdownload',
            result);
    }

    //准备参数
    function prepareParam(xlsName) {
        var param = {
            name : xlsName,
            queryConditions : {},
            cols : fixedassetscardselectsExportXls
        };
        var grid = $("#hg");
        var datas = grid.datagrid("getRows");
        if (datas.length > 0) {
            //查询之前验证
            $('#serachFrom').find('input').each(
                function() {
                    var obj = $(this);
                    var name = obj.attr('name');
                    if (name) {
                        param.queryConditions[name] = obj.val();
                    }
                });
            return param;
        } else {
            $.messager.alert("提示", "请先查询或者没有要导出的数据", "warning");
            return "false";
        }
    }


    var test;
    //查看（详情）
    function checkThat(row) {
        $('#changefg1').show(); $('#changefg2').show();
        $('#fm').form('clear');
        //详情页面赋值
        $('#fm').find(".easyui-combobox").combobox({readonly:true});
        $('#fm').find(".easyui-textbox").textbox({readonly:true});
        $('#fm').find(".easyui-combotree").combotree({readonly:true});
         test =row;
        test.depType=row.deprMethod;
        test.addedTax = test.addedTax.toFixed(4);
        test.remainsRate = test.remainsRate.toFixed(4);
        $('#fm').form('load',test);

        var cess=0;
        $('#fg').datagrid({
            url: '/fixedassetscard/getchange',
            queryParams: row,
            striped:true,
            method:'post',
            //   pagination:true,
            fitColumns:true,
            singleSelect: false,
            checkOnSelect:true,
            //  pagePosition:'bottom',
            // pageList:[10,20,30,40,50],
            nowrap:true,

            columns:[
                [
                    {field: 'test', title: '序号', width: '8%', align: 'center', formatter: function(value,row) {
                            cess=parseInt(cess+1);
                            return cess;
                        }}
                    , {field: 'changeTypeName', title: '变动类别', width: '17%', align: 'center'}
                    , {field: 'changeOldDataRight', title: '变动前', width: '20%', align: 'center'}
                    , {field: 'changeNewDataRight', title: '变动后', width: '20%', align: 'center'}
                    , {field: 'changeReason', title: '变动原因', width: '22%', align: 'center',formatter:function (value) {
                        return "<span title='"+value+"'>"+value+"</span>";
                    }}
                    , {field: 'changeDate', title: '变动日期', width: '16%', align: 'center'}
                ]
            ],
            onLoadSuccess: function(data){
                if(data.total<=0){
                    $('#changefg1').hide(); $('#changefg2').hide();
                }

            },
            onClickRow: function (rowIndex, rowData) {
                $(this).datagrid('unselectRow', rowIndex);
            },
            loadMsg:'加载中......',

        });

        $('#dlg').dialog('open').dialog('setTitle','固定资产卡片详情展示');
    }

    function  machine(){

        $('#sg').datagrid({
            url: '/fixedassetscardselect/deprelist',
            queryParams: test,
            striped:true,
            method:'post',
           // pagination:true,
            fitColumns:true,
            singleSelect: false,
            checkOnSelect:true,
          ///  pagePosition:'bottom',
          //  pageList:[10,20,30,40,50],
            nowrap:true,

            columns:[
                [
                    /*  {field: '', checkbox: true,  width: '3%', align: 'center'}*/
                    {field: 'year_month_data', title: '年月', width: '13%', align: 'center', sortable: 'true', order: 'asc'}
                    , {field: 'assetOriginValue', title: '原值', width: '12%', align: 'center',formatter: function(value,row,index){return formate(value);}}
                    , {field: 'thisMonthDrepre', title: '本月计提月数', width: '12%', align: 'center'}
                    , {field: 'month_depre_money', title: '本月折旧', width: '12%', align: 'center',formatter: function(value,row,index){return formate(value);}}
                    , {field: 'endDepreAmount', title: '累计计提月数', width: '15%', align: 'center'}
                    , {field: 'endDepreMoney', title: '累计折旧', width: '15%', align: 'center',formatter: function(value,row,index){return formate(value);}}
                    , {field: 'assetNetValue', title: '净值', width: '11%', align: 'center',formatter: function(value,row,index){return formate(value);}}
                    , {field: 'impairment', title: '减值准备', width: '10%', align: 'center',formatter: function(value,row,index){return formate(value);}}

                ]
            ],
            onClickRow: function (rowIndex, rowData) {
                $(this).datagrid('unselectRow', rowIndex);
            },
            /* toolbar:[{
                 text:"批量撤销",
                 iconCls:'',
                 plain:true,
                 handler:someLeave
             },
             ],
             loadMsg:'加载中......',*/
        });
        $('#fmA').form('load',test);
        $('#dlgA').dialog('open').dialog('setTitle','固定资产卡片详情展示');
    }

    //返回或关闭
    function cancel() {
        $('#dlg').dialog('close');
    }

    //设置默认值
    var assetOriginValue = 0;//原值
    var endDepreMoney = 0;//期末累计折旧金额
    var impairment = 0;//减值准备
    var addedTax = 0;//增值税率
    var remainsRate = 0;//预计残值率
    //计算
    $('#assetOriginValue').textbox({onChange:function(){calculate()}});
    $('#endDepreMoney').textbox({onChange:function(){calculate()}});
    $('#impairment').textbox({onChange:function(){calculate()}});
    $('#addedTax').textbox({onChange:function(){calculate()}});
    $('#remainsRate').textbox({onChange:function(){calculate()}});
    function calculate(){
        //原值
        if(isNaN(parseFloat($('#assetOriginValue').textbox("getValue")))){
            assetOriginValue = 0;//原值
        }else{
            assetOriginValue = parseFloat($('#assetOriginValue').textbox("getValue"));//原值
        }

        //期末累计折旧金额
        // if(isNaN(parseInt($('#endDepreMoney').textbox("getValue")))){
        //     endDepreMoney = 0;//期末累计折旧金额
        // }else{
        //     endDepreMoney = parseInt($('#endDepreMoney').textbox("getValue"));//期末累计折旧金额
        // }

        //减值准备
        if(isNaN(parseFloat($('#impairment').textbox("getValue")))){
            impairment = 0;//减值准备
        }else{
            impairment = parseFloat($('#impairment').textbox("getValue"));//减值准备
        }

        //减值准备
        if(isNaN(parseFloat($('#addedTax').textbox("getValue")))){
            addedTax = 0;//减值准备
        }else{
            addedTax = parseFloat($('#addedTax').textbox("getValue"));//减值准备
        }

        //预计残值率
        if(isNaN(parseFloat($('#remainsRate').textbox("getValue")))){
            remainsRate = 0;//预计残值率
        }else{
            remainsRate = parseFloat($('#remainsRate').textbox("getValue"));//预计残值率
        }

        //净值=原值-期末累计折旧金额-减值准备
        $('#assetNetValue').textbox("setValue", formatNumber(decimalSub(decimalSub(assetOriginValue,endDepreMoney),impairment),2,0));
        $('#assetNetValue').textbox({readonly:true});

        //进项税额=【原值/(1+增值税率)】*增值税率
        $('#inputTax').textbox("setValue", formatNumber(decimalMulti(decimalDiv(assetOriginValue,decimalAdd(1,addedTax)),addedTax),2,0));
        $('#inputTax').textbox({readonly:true});

        //预计残值=原值*预计残值率
        $('#remainsValue').textbox("setValue", formatNumber(decimalMulti(assetOriginValue,remainsRate),2,0));
        $('#remainsValue').textbox({readonly:true});

        //金额=原值-进项税额
        $('#sum').textbox("setValue", formatNumber(decimalSub(assetOriginValue,decimalMulti(decimalDiv(assetOriginValue,decimalAdd(1,addedTax)),addedTax)),2,0));
        $('#sum').textbox({readonly:true});

    }

   /* //保存
    function  saveSpecial() {
        //data用于存放输入信息
        var data= $('#fm').serialize();
        //校验必填项是否为空
        var arr = $('#fm').serializeArray();
        var formData = {};
        $.each(arr, function() {
            formData[this.name] = this.value;
        });
        //判断必输项是否为空
        if(formData.codeType == null || formData.codeType == ""){
            $.messager.alert('提示','管理类别不能为空！','error');
            return;
        }
        if(formData.assetType == null || formData.assetType == ""){
            $.messager.alert('提示','固定资产类别不能为空！','error');
            return;
        }
        if(formData.assetCode == null || formData.assetCode == ""){
            $.messager.alert('提示','固定资产编号不能为空！','error');
            return;
        }
        if(formData.assetName == null || formData.assetName == ""){
            $.messager.alert('提示','固定资产名称不能为空！','error');
            return;
        }
        if(formData.sourceFlag == null || formData.sourceFlag == ""){
            $.messager.alert('提示','来源不能为空！','error');
            return;
        }
        if(formData.assetOriginValue == null || formData.assetOriginValue == ""){
            $.messager.alert('提示','原值不能为空！','error');
            return;
        }
        if(formData.impairment == null || formData.impairment == ""){
            $.messager.alert('提示','减值准备不能为空！','error');
            return;
        }
        if(formData.assetNetValue == null || formData.assetNetValue == ""){
            $.messager.alert('提示','净值不能为空！','error');
            return;
        }
        if(formData.addedTax == null || formData.addedTax == ""){
            $.messager.alert('提示','增值税率不能为空！','error');
            return;
        }
        if(formData.sum == null || formData.sum == ""){
            $.messager.alert('提示','金额不能为空！','error');
            return;
        }
        if(formData.inputTax == null || formData.inputTax == ""){
            $.messager.alert('提示','进项税额不能为空！','error');
            return;
        }
        $.post(url, data, function(result){
            if(result.success){
                $.messager.alert('提示','操作成功！', 'info');
                $('#dlg').dialog('close');
                $('#sg').datagrid('reload');
            }else if(result.error){
                $.messager.alert('提示','操作失败','error');
            }
            else{
                $.messager.alert('提示','操作失败','error');
            }
        });
    }
*/
    //获取当前时间，格式YYYY-MM-DD
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        // if (strDate >= 0 && strDate <= 9) {
        //     strDate = "0" + strDate;
        // }
        var currentdate = year + seperator1 + month;
        return currentdate;
    }

    //等待
    function onOpen() {
        loading = setInterval(showalert, 500);
    }
    var ii = 2;
    function showalert() {
        var text = "";
        var text1 = "";
        if (ii == 1) {
            text = '正在处理，请稍后.';
        } else if (ii == 2) {
            text = '正在处理，请稍后..';
        } else if (ii == 3) {
            text = '正在处理，请稍后...';
            ii = 0;
        }
        ii++;
        $('#msg').text(text);
    }
    function onClose() {
        clearInterval(loading);
    }

    //校验
    function onSelect(d) {
        var timeStart = $('#timeStart').datebox('getValue');
        var timeEnd = $('#timeEnd').datebox('getValue');
        /*
                var issd = this.id == 'timeStart', timeStart = issd ? d : new Date($('#timeStart').datebox('getValue')), timeEnd = issd ? new Date($('#timeEnd').datebox('getValue')) : d;
        */
        if (timeStart != "" && timeEnd != "" && timeEnd < timeStart) {
            $.messager.alert({title: '提示', msg: "开始日期不能大于结束日期！"});
            $('#timeEnd').datebox('setValue', '').datebox('showPanel');
        }
    }
    //固定资产编码校验
    function compareAssetCode() {
        var start=$('#fixedAssetsCode').combobox('getValue');
        var end=$('#fixedAssetsCodeEnd').combobox('getValue');
        if(start>end&&end!=null&&end!=""){
            $.messager.alert("提示","起始编码不能大于终止编码！","info");
           // $('#fixedAssetsCode').combobox('setValue','');
            $('#fixedAssetsCodeEnd').combobox('setValue','');
        }
    }
    $(function(){
        // $("#cardCode").textbox('textbox').bind('keyup', function(e){
        //     $("#cardCode").textbox('setValue', $(this).val().replace(/\D/g,''));
        // });
        //
        // $("#cardCodeEnd").textbox('textbox').bind('keyup', function(e){
        //     $("#cardCodeEnd").textbox('setValue', $(this).val().replace(/\D/g,''));
        // });
        // $("#fixedAssetsCode").textbox('textbox').bind('keyup', function(e){
        //     $("#fixedAssetsCode").textbox('setValue', $(this).val().replace(/\D/g,''));
        // });
        // $("#fixedAssetsCodeEnd").textbox('textbox').bind('keyup', function(e){
        //     $("#fixedAssetsCodeEnd").textbox('setValue', $(this).val().replace(/\D/g,''));
        // });
        /* $("input",$(".card1").next("span")).blur(function(){
             var cardCode = $("#cardCode").val();
             var cardCodeEnd = $("#cardCodeEnd").val();
             console.log(cardCodeEnd<cardCode);
             if ( cardCodeEnd<cardCode) {
                 alert("请按照从小到大的顺序填写");
             }
         });*/

    });
    function formate(data) {
        if (data || (data+'')=='0') {
            return formatNumber(data*1, 2, 1);
        }
        return data;
    }
    function isdepre(row){
        $.ajax({
            url: '/fixedassetscard/depreciation',
            data: row,
            type: 'POST',
            async: false,
            success: function(result){
              if(result.success){
                  flag=true;
              }else{
                  flag=false;

              }
            }
        })

    }
    //打印
    function print_() {
        //先查询出数据
        var params = {};
        $('#serachFrom').find('input').each(function () {
            var obj = $(this);
            var name = obj.attr('name');
            if (name) {
                params[name] = obj.val();
            }
        });
        console.log(params);
        //使用参数执行一次查询
        $.ajax({
            type:"post",
            url:'/fixedassetscardselect/listPrint',
            data:params,
            //  async:false,
            success:function (result){
                if(result.total<= 0){
                    $.messager.alert('提示', '没有可打印的数据！', 'warning');
                }else{
                    windowOpenNewPage('/fixedassetscard/print',params
                    );
                }
            }

        });

    }
    //打印
    function printA() {
        /* //先查询出数据
         var params = {};
         $('#serachFrom').find('input').each(function () {
             var obj = $(this);
             var name = obj.attr('name');
             if (name) {
                 params[name] = obj.val();
             }
         });*/
        var row = $('#hg').datagrid('getSelected');
        //console.log(row);
        //使用参数执行一次查询
        $.ajax({
            type:"post",
            url:'/fixedassetscardselect/deprelist',
            data:row,
            //  async:false,
            success:function (result){
                if(result.total<= 0){
                    $.messager.alert('提示', '没有可打印的数据！', 'warning');
                }else{
                    windowOpenNewPage('/fixedassetscardselect/print',
                        row
                    );
                }
            }
        });
    }
</script>


</body>
</html>