<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/head::head('现金流量明细表打印','/css/datagridcell_text-overflow_ellipsis.css','')">
</head>
<body>
<div id="panelDiv" align="center">
<div class="easyui-panel" align="center" style="height: auto; width:90%; padding: 8px 0px 0px 0px;overflow: hidden;">
    <span id="yearMonths" style="display:none" th:text="${map.yearMonth}"></span>
    <span id="yearMonthDates" style="display:none" th:text="${map.yearMonthDate}"></span>
    <span id="voucherDateStart" style="display:none" th:text="${map.voucherDateStart}"></span>
    <span id="voucherDateEnd" style="display:none" th:text="${map.voucherDateEnd}"></span>
    <span id="voucherGene" style="display:none" th:text="${map.voucherGene}"></span>
    <span id="centerCodes" style="display:none" th:text="${map.centerCode}"></span>
    <span id="currentManageBranchName" style="display:none" th:text="${session.currentUser.currentManageBranchName}"></span>
    <!-- 用于展示的 -->
    <div id="searchDiv" hidden>
        <table id = "dg1" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
            <div align="center">
                <span align="center" style="font-size:18px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bolder" th:text="${session.currentUser.currentManageBranchName}"/>
                <br/>
                <span align="center" style="font-size:20px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bold">现金流量明细表</span>
            </div>
        </table>
        <table cellpadding="2" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">
            <tr>
                <td style="text-align: left; padding-left: 10px"><label>核算单位：<span id="centerCode"></span></label></td>
                <td style="text-align: center;"><label>期间：自&nbsp;<span id="yearMonth1"></span>&nbsp;至&nbsp;<span id="yearMonthDate1"></span></label></td>
                <td style="text-align: right; padding-right: 10px"><label>单位：<span>人民币元</span></label></td>
            </tr>
        </table>
        <!-- 筛选条件 --><!-- 已隐藏，不可删 -->
        <form id="serachFrom" method="post" style="margin-bottom:0;" hidden>
            <table cellpadding="5" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">
                <tr>
                    <td style="width:10%;text-align: right;" ><label>会计期间:</label></td>
                    <td style="width:21%;">
                        <input style="width:40%;" id="yearMonth" name="yearMonth" class="easyui-combobox" data-options="prompt: '会计期间',editable:false">&nbsp;--&nbsp;
                        <input style="width:40%;" id="yearMonthDate" name="yearMonthDate" class="easyui-combobox" data-options="prompt: '会计期间',editable:false">
                    </td>
                </tr>
            </table>
        </form>

        <!--<table cellpadding="2" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">-->
            <!--<tr>-->
                <!--<td style="text-align: left; padding-left: 10px"><label>科目：<span id="itemName"></span><span>(</span><span id="directionIdx"></span><span>)</span></label></td>-->
                <!--<td style="text-align: right; padding-right: 20px"><label>日期:<span id="dateText"></span></label></td>-->
            <!--</tr>-->
        <!--</table>-->

        <!--  数据列表 -->
        <table id = "dg" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;" border="1"></table>

        <table id = "dg2" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
            <tr>
                <td style="width:10%;text-align: right;" ><label>财务主管：</label></td>
                <td style="width:13%;"><span id="leader"></span></td>
                <td style="width:10%;text-align: right;" ><label>操作员：</label></td>
                <td style="width:13%;"><span id="operationUser" th:text="${session.currentUser.userName}"></span></td>
                <td style="width:10%;text-align: right;" ><label>打印日期：</label></td>
                <td style="width:13%;"><span id="printDate"></span></td>
            </tr>

            <tr>
                <td colspan="6" style="text-align: center;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="printF()" data-options="iconCls:'e-icon fa fa-print'" style="width:10%;">打印</a>
                </td>
            </tr>
        </table>
    </div>

    <!-- 用于打印的 --><!-- 多加一层，防止局部渲染导致区域之外的数据失效 -->
    <div><div id="printDiv"></div></div>
    <table id="printxf" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
        <tr>
            <td colspan="6" style="text-align: center;" hidden>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="printF()" data-options="iconCls:'e-icon fa fa-print'" style="width:10%;">打印</a>
            </td>
        </tr>
    </table>
</div>
</div>
<!-- 等待提示框 -->
<div id="waitMenu" class="easyui-dialog" style="width: 300px; height: 100px; padding: 10px 20px;" closed="true" align="center" data-options="modal:true,closed:true,onOpen:onOpen,onClose:onClose">
    <div id="msg"></div>
</div>
</body>
<script th:src="@{/js/updataEasyUIDataGridTableStyle.js}"></script>
<script>
    $(function(){
       /* initData();
        $('#dg').datagrid({
            striped: true  //设置为 true，则把行条纹化。（即奇偶行使用不同背景色） 默认false
            ,method: 'post'
            ,fitColumns: true //设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            ,singleSelect: true //设置为 true，则只允许选中一行。 默认false
            ,nowrap: true
            ,columns: [
                [
                    {field:'centerCode',title:'核算单位代码',width:'20%',halign:'center',align:'left',hidden:true},
                    {field:'voucherDate',title:'凭证日期',width:'12%',halign:'center',align:'center'},
                    {field:'voucherNo',title:'凭证号',width:'12%',halign:'center',align:'center',formatter:
                            function(value,row,index){
                                if (value) {
                                    return "<span style='color: blue; cursor: pointer;' onclick='lookVoucher("+JSON.stringify(row)+")'>" + value + "</span>";
                                }
                                return value;
                            }
                    },
                    {field:'specialCode',title:'现金流量专项代码',width:'20%',halign:'center',align:'left',hidden:true},
                    {field:'specialName',title:'现金流量项目',width:'21%',halign:'center',align:'left'},
                    {field:'remark',title:'摘要',width:'26%',halign:'center',align:'left'},
                    {field:'debit',title:'现金流出',width:'15%',halign:'center',align:'right',
                        formatter: function (value,row,index) {
                            if (value) {
                                return formatNumber(value*1, 2, 1);
                            } else {
                                return value;
                            }
                        }
                    },
                    {field:'credit',title:'现金流入',width:'15%',halign:'center',align:'right',
                        formatter: function (value,row,index) {
                            if (value) {
                                return formatNumber(value*1, 2, 1);
                            } else {
                                return value;
                            }
                        }
                    },

                ]
            ],
            onClickRow: function (rowIndex, rowData) {
                $(this).datagrid('unselectRow', rowIndex);
            },
            onLoadSuccess:function(data){
                console.log(data.rows[0].centerCode)
                $('#centerCode').html(data.rows[0].centerCode);
            },
            loadMsg:'加载中...'  //当从远程站点加载数据时，显示的提示消息。
        });*/
        searchF();
    });

    //初始化页面数据
    function initData() {
        //财务主管
        $("#leader").html('');
        //打印日期
        var curr_time = new Date();
        $("#printDate").html(myformatter(curr_time));
        $("#yearMonth1").html($('#yearMonths').text());
        $("#yearMonthDate1").html($('#yearMonthDates').text());
        $("#centerCode").html($('#centerCodes').text());
    }

    //搜索
    function searchF(){
        $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
        var params = {};
        params['yearMonth'] = $("#yearMonths").text();
        params['yearMonthDate'] = $("#yearMonthDates").text();
        params['voucherDateStart'] = $("#voucherDateStart").text();
        params['voucherDateEnd'] = $("#voucherDateEnd").text();
        params['voucherGene'] = $("#voucherGene").text();
        var url='/cashflowtable/list';
        $.post(url,params,function (result) {
            if (result.length>0) {
                $('#waitMenu').dialog('close');//关闭等待窗口
                creatPrintContent(result);
            } else {
                $('#waitMenu').dialog('close');//关闭等待窗口
                $.messager.alert('提示','未查询到相关数据','info');
            }
        });
       /* $("#dg").datagrid({
            url:'/cashflowtable/list',
            queryParams: params,    //查询条件
            onLoadSuccess: function(data){
                if(data.total<=0) {
                    $.messager.show({
                        title: '提示'
                        ,msg:'未查询到相关数据'
                        ,showType:'slide'
                    });
                }else{
                    var panel = $(this).datagrid('getPanel');
                    //修改样式
                    updata_easyUI_dataGrid_table_style(panel);
                    //处理打印的Div区域
                    creatPrintContent();
                    //隐藏打印区域
                    $('#printDiv').hide();
                }
            }
        });*/
    }

    //打印
    function printF() {
        $('#printxf').hide();
       // $('#printDiv').show();
        window.print();
       // $('#printDiv').hide();
        $('#printxf').show();
        /*$('.easyui-linkbutton').css({'display':'none'});
        //打印当前网页
        window.print();
        //无论是打印还是取消打印，均自动关闭当前网页
        window.close();*/
    }

    function creatPrintContent(result) {
        //获得DIV
        var parentDiv = $('#printDiv');
        //获得dg数据
        var rows = result;
        //每页数据量
        var pageRowNum = 16;
        //得到分页数
        var pages = rows.length/pageRowNum;
        //每页的开始行
        var rowNum = 0;
        var rowNow=0;
        for (var i=0;i<pages;i++) {
            //追加分页标志
            if (i!=0) {
                parentDiv.append('<div style="page-break-after:always">');
            }
            parentDiv.append(printTableHeader());
            parentDiv.append('<table id = "print_dg_' +i+ '" cellspacing="0" cellpadding="0"  style="height: auto;border-collapse: collapse; width:100%; "></table>');//overflow: hidden;
            //获取当前表格
            var table = document.getElementById ("print_dg_"+i);
            table.border = '1px solid #0094ff';
            //添加表头行信息
            addTableHeaderRowInfo(table.insertRow(0));
            for(var k=0;k<pageRowNum;k++){
                if(!result[rowNow]){
                    continue;
                }
                var row = table.insertRow(k+1);
                addTableDataRowInfo(row, result[rowNow]);
                rowNow++;
            }
            parentDiv.append(printTableFooter());
            if (i!=0) {
                parentDiv.append('</div>');
            }
        }
     /*   //局部渲染
        $.parser.parse($('#printDiv').parent());
        //打印区域赋值
        console.log(pages);
        setPrintContentValue(pageRowNum,pages);*/
    }
    function addTableHeaderRowInfo(row) {
        row.style.height = '30px';
        row.style.textAlign = 'center';
        for (var i=0;i<6;i++) {
            var cell = row.insertCell(i);
            cellStylePadding(cell);
            if (i==0) {
                cellStyleWidth(cell, 1);
                cell.innerHTML= "<td>凭证日期</td>";
            } else if (i==1) {
                cellStyleWidth(cell, 2);
                cell.innerHTML= "<td>凭证号</td>";
            } else if (i==2) {
                cellStyleWidth(cell, 3);
                cell.innerHTML= "<td>现金流量项目</td>";
            } else if(i==3) {
                cellStyleWidth(cell, 4);
                cell.innerHTML= "<td>摘要</td>";
            }else if(i==4) {
                cellStyleWidth(cell, 5);
                cell.innerHTML= "<td>现金流出</td>";
            }else if(i==5) {
                cellStyleWidth(cell, 6);
                cell.innerHTML= "<td>现金流入</td>";
            }
        }
    }
    function addTableDataRowInfo(row, data) {
        row.style.height = '35px';
        for (var i=0;i<6;i++) {
            var cell = row.insertCell(i);
            cellStylePadding(cell);
            if (i==0) {
                cellTextAlignCenter(cell);
                cellStyleWidth(cell, 1);
                var voucherDate=data.voucherDate;
                cell.innerHTML = "<td>"+voucherDate==''||voucherDate==null?'':voucherDate+"</td>";
            } else if (i==1) {
                cellTextAlignCenter(cell);
                cellStyleWidth(cell, 2);
                cell.innerHTML = "<td>"+data.voucherNo==''||data.voucherNo==null?'':data.voucherNo+"</td>";
            } else if(i==2) {
                cellTextAlignLeft(cell);
                cellStyleWidth(cell, 3);
                cell.innerHTML= "<td>"+data.specialName==''||data.specialName==null?'':data.specialName+"</td>";
            }else if(i==3) {
                cellTextAlignLeft(cell);
                cellStyleWidth(cell, 4);
                cell.innerHTML= "<td>"+data.remark==''||data.remark==null?'':data.remark+"</td>";
            }else if(i==4) {
                cellTextAlignRight(cell);
                cellStyleWidth(cell, 5);
                cell.innerHTML= "<td>"+data.debit==''||data.debit==null?'':formate(data.debit)+"</td>";
            }else if(i==5) {
                cellTextAlignRight(cell);
                cellStyleWidth(cell, 6);
                cell.innerHTML= "<td>"+data.credit==''||data.credit==null?'':formate(data.credit)+"</td>";
            }
        }
    }
    function cellStylePadding(cell) {
        cell.style.padding = '2px';
    }
    function cellTextAlignRight(cell) {
        cell.style.textAlign = 'right';
    }
    function cellTextAlignLeft(cell) {
        cell.style.textAlign = 'left';
    }
    function cellTextAlignCenter(cell) {
        cell.style.textAlign = 'center';
    }
    function cellStyleWidth(cell, type) {
        //8,7,15,17,18,10,10,3,12
        if (type==1) {
            cell.style.width = '12%';
        } else if (type==2) {
            cell.style.width = '12%';
        } else if (type==3 ) {
            cell.style.width = '21%';
        }else if (type==4 ) {
            cell.style.width = '20%';
        } else if (type==5) {
            cell.style.width = '15%';
        } else if (type==6) {
            cell.style.width = '15%';
        }
    }
    function printTableHeader() {
        var headerHtml = '<table style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;" ><div align="center"><span align="center" style="font-size:18px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bolder">'+$('#currentManageBranchName').text()+'</span><br/><span align="center" style="font-size:20px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bold">现金流量明细表</span></div></table>' + '<table cellpadding="2" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0"><tr>  <td style="text-align: left; padding-left: 10px"><label>核算单位：<span id="centerCode">'+$('#centerCodes').text()+'</span></label></td>'+
            '<td style="text-align: center;"><label>期间：自&nbsp;<span id="yearMonth1">'+$('#yearMonths').text()+'</span>&nbsp;至&nbsp;<span id="yearMonthDate1">'+$('#yearMonthDates').text()+'</span></label></td> <td style="text-align: right; padding-right: 10px"><label>单位：<span>人民币元</span></label></td></tr></table>';
        return headerHtml;
    }
    function printTableFooter() {
        var footer = '<table style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;"><tr><td style="width:10%;text-align: right;" ><label>财务主管：</label></td><td style="width:13%;"><span name="leaderPrint">'+$("#leader").text()+'</span></td><td style="width:10%;text-align: right;" ><label>操作员：</label></td><td style="width:13%;"><span name="operationUserPrint">'+$("#operationUser").text()+'</span></td><td style="width:10%;text-align: right;" ><label>打印日期：</label></td><td style="width:13%;"><span name="printDatePrint">'+myformatter(new Date())+'</span></td></tr></table>';
        return footer;
    }
   /* function setPrintContentValue(pageRowNum, pages) {
        var rowNum = 0;
        var rows = $('#dg').datagrid('getRows');

        for (var i=0;i<pages;i++) {
            //设置中心表格区域
            $('#print_dg_'+i).datagrid({
                striped: true
                ,method: 'post'
                ,fitColumns: true
                ,singleSelect: true
                ,nowrap: true
                ,columns: [
                    [
                        // {field:'centerCode',title:'核算单位代码',width:'20%',halign:'center',align:'left',hidden:true},
                        {field:'voucherDate',title:'凭证日期',width:'12%',halign:'center',align:'center'},
                        {field:'voucherNo',title:'凭证号',width:'12%',halign:'center',align:'center',formatter:
                                function(value,row,index){
                                    if (value) {
                                        return "<span style='color: blue; cursor: pointer;' onclick='lookVoucher("+JSON.stringify(row)+")'>" + value + "</span>";
                                    }
                                    return value;
                                }
                        },
                        {field:'specialCode',title:'现金流量专项代码',width:'20%',halign:'center',align:'left',hidden:true},
                        {field:'specialName',title:'现金流量项目',width:'21%',halign:'center',align:'left'},
                        {field:'remark',title:'摘要',width:'26%',halign:'center',align:'left'},
                        {field:'debit',title:'现金流出',width:'15%',halign:'center',align:'right',
                            formatter: function (value,row,index) {
                                if (value) {
                                    return formatNumber(value*1, 2, 1);
                                } else {
                                    return value;
                                }
                            }
                        },
                        {field:'credit',title:'现金流入',width:'15%',halign:'center',align:'right',
                            formatter: function (value,row,index) {
                                if (value) {
                                    return formatNumber(value*1, 2, 1);
                                } else {
                                    return value;
                                }
                            }
                        },
                    ]
                ]
            });
            // for (var j=0;j<pageRowNum;j++) {
            //     if (rowNum < rows.length) {
            //         $('#print_dg_'+i).datagrid('appendRow', rows[rowNum]);
            //         rowNum++;
            //     } else {
            //         break;
            //     }
            // }
            for (var j=0;j<pageRowNum;j++) {
                if (rowNum < rows.length) {
                    $('#print_dg_'+i).datagrid('appendRow', rows[rowNum]);
                    rowNum++;
                } else {
                    break;
                }
            }
            //修改样式
            var panel = $('#print_dg_'+i).datagrid('getPanel');
            updata_easyUI_dataGrid_table_style(panel);
        }
    }*/

    function appointPrintContent(doc) {
        //这里可以自定义样式
        //doc.write("<LINK rel="stylesheet" type="text/css" href="css/print.css">");
        doc.write('<div>' + el.innerHTML + '</div>');
    }

    function myformatter(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
        return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
    }

    function formate(data) {
        if (data || (data+'')=='0') {
            return formatNumber(data*1, 2, 1);
        }
        return data;
    }

    //将","替换为"/"
    function repalceValue(value) {
        if (value) {
            var str = '';
            var s = value.split(",");
            for (var i=0;i<s.length;i++) {
                str = str + s[i] + '/'
            }
            value = str.substring(0,str.length-1);
        }
        return value;
    }
    //等待
    var loading;
    function onOpen() {
        loading = setInterval(showalert, 500);
    }
    var ii = 2;
    function showalert() {
        var text = "";
        var text1 = "";
        if (ii == 1) {
            text = '正在处理，请稍后.';
        } else if (ii == 2) {
            text = '正在处理，请稍后..';
        } else if (ii == 3) {
            text = '正在处理，请稍后...';
            ii = 0;
        }
        ii++;
        $('#msg').text(text);
    }
    function onClose() {
        clearInterval(loading);
    }
</script>
</html>