<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/head::head('专项科目余额表打印','/css/datagridcell_text-overflow_ellipsis.css','')">
</head>
<body>
<div id="panelDiv" align="center">
<div class="easyui-panel" align="center" style="height: auto; width:90%; padding: 8px 0px 0px 0px;overflow: hidden;">
    <!--id 不允许更改-->
    <span id="searchspan">
        <span id="subjectCode" style="display:none" th:text="${map.subjectCode}"></span>
        <span id="yearMonth" style="display:none" th:text="${map.yearMonth}"></span>
        <span id="yearMonthDate" style="display:none" th:text="${map.yearMonthDate}"></span>
        <span id="voucherGene" style="display:none" th:text="${map.voucherGene}"></span>
        <span id="specialName" style="display:none" th:text="${map.specialName}"></span>
        <span id="specialCode" style="display:none" th:text="${map.specialCode}"></span>
        <span id="moneyStart" style="display:none" th:text="${map.moneyStart}"></span>
        <span id="moneyEnd" style="display:none" th:text="${map.moneyEnd}"></span>
        <span id="specialNameP" style="display:none" th:text="${map.specialNameP}"></span>
        <span id="cumulativeAmount" style="display:none" th:text="${cumulativeAmount}"></span>
        <span id="sourceDirection" style="display:none" th:text="${map.sourceDirection}"></span>
        <span id="accounRules" style="display:none" th:text="${map.accounRules}"></span>
        <span id="centerCodes" style="display:none" th:text="${centerCode}"></span>
        <span id="currentManageBranchName" style="display:none" th:text="${session.currentUser.currentManageBranchName}"></span>
    </span>
    <!-- 用于展示的 -->
    <div id="searchDiv" hidden>
        <table id = "dg1" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
            <div align="center">
                <span align="center" style="font-size:18px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bolder" th:text="${session.currentUser.currentManageBranchName}"></span>
                <br/>
                <span align="center" style="font-size:20px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bold">专项科目余额表</span>
            </div>
        </table>
        <table cellpadding="2" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">
            <tr>
                <td style="text-align: left; padding-left: 10px"><label>核算单位：<span id="centerCode"></span></label></td>
                <td style="text-align: center;"><label>期间：自&nbsp;<span id="yearMonth1"></span>&nbsp;至&nbsp;<span id="yearMonthDate1"></span></label></td>
                <td style="text-align: right; padding-right: 10px"><label>单位：<span>人民币元</span></label></td>
            </tr>
        </table>
        <!-- 筛选条件 --><!-- 已隐藏，不可删 -->
        <form id="serachFrom" method="post" style="margin-bottom:0;" hidden>
            <table cellpadding="5" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">
                <tr>
                    <td style="width:10%;text-align: right;" ><label>会计期间:</label></td>
                    <td style="width:21%;">
                        <input style="width:40%;" id="yearMonths" name="yearMonth" class="easyui-combobox" data-options="prompt: '会计期间',editable:false">&nbsp;--&nbsp;
                        <input style="width:40%;" id="yearMonthDates" name="yearMonthDate" class="easyui-combobox" data-options="prompt: '会计期间',editable:false">
                    </td>
                </tr>
            </table>
        </form>

        <!--<table cellpadding="2" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0">-->
            <!--<tr>-->
                <!--<td style="text-align: left; padding-left: 10px"><label>科目：<span id="itemName"></span><span>(</span><span id="directionIdx"></span><span>)</span></label></td>-->
                <!--<td style="text-align: right; padding-right: 20px"><label>日期:<span id="dateText"></span></label></td>-->
            <!--</tr>-->
        <!--</table>-->

        <!--  数据列表 -->
        <div id="accounRules1"><table id = "dg" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;" border="1"></table>
        </div>
        <div id="accounRules2"><table id = "dg3" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;" border="1"></table>
        </div>
        <table id = "dg2" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
            <tr>
                <td style="width:10%;text-align: right;" ><label>财务主管：</label></td>
                <td style="width:13%;"><span id="leader"></span></td>
                <td style="width:10%;text-align: right;" ><label>操作员：</label></td>
                <td style="width:13%;"><span id="operationUser" th:text="${session.currentUser.userName}"></span></td>
                <td style="width:10%;text-align: right;" ><label>打印日期：</label></td>
                <td style="width:13%;"><span id="printDate"></span></td>
            </tr>

            <tr>
                <td colspan="6" style="text-align: center;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="printF()" data-options="iconCls:'e-icon fa fa-print'" style="width:10%;">打印</a>
                </td>
            </tr>
        </table>
    </div>

    <!-- 用于打印的 --><!-- 多加一层，防止局部渲染导致区域之外的数据失效 -->
    <div><div id="printDiv"></div></div>
    <table id="printxf" style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;">
        <tr>
            <td colspan="6" style="text-align: center;" hidden>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="printF()" data-options="iconCls:'e-icon fa fa-print'" style="width:10%;">打印</a>
            </td>
        </tr>
    </table>
</div>
</div>
<!-- 等待提示框 -->
<div id="waitMenu" class="easyui-dialog" style="width: 300px; height: 100px; padding: 10px 20px;" closed="true" align="center" data-options="modal:true,closed:true,onOpen:onOpen,onClose:onClose">
    <div id="msg"></div>
</div>
</body>
<script th:src="@{/js/updataEasyUIDataGridTableStyle.js}"></script>
<script>
    $(function(){
       /* initData();
        $('#dg').datagrid({
            striped: true  //设置为 true，则把行条纹化。（即奇偶行使用不同背景色） 默认false
            ,method: 'post'
            ,fitColumns: true //设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            ,singleSelect: true //设置为 true，则只允许选中一行。 默认false
            ,nowrap: true
            ,columns: [
                [
                    {field:'subject',title:'科目',width:'20%',halign:'center',colspan:2},
                    {field:'detail',title:'专项',width:'20%',halign:'center',colspan:2},
                    {field:'directionQc',title:'方向',width:'5%',halign:'center',align:'center',rowspan:2},
                    {field:'balanceQc',title:'期初金额',width:'13%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                    {field:'Bq',title:'本期发生',width:'26%',halign:'center',align:'right',colspan:2},
                    {field:'Bn',title:'累计发生',width:'26%',halign:'center',align:'right',colspan:2,hidden:true},
                    {field:'directionQm',title:'方向',width:'5%',halign:'center',align:'center',rowspan:2},
                    {field:'balanceQm',title:'期末金额',width:'13%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}
                ],
                [
                    {field:'subjectCode',title:'编码',width:'10%',halign:'center',align:'center'},
                    {field:'subjectName',title:'名称',width:'10%',halign:'center',align:'left'},
                    {field:'detailCode',title:'编码',width:'10%',halign:'center',align:'center'},
                    {field:'detailName',title:'名称',width:'10%',halign:'center',align:'left'},
                    {field:'debitBq',title:'借方',width:'13%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                    {field:'creditBq',title:'贷方',width:'13%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                    {field:'debitBn',title:'借方',width:'13%',halign:'center',align:'right',hidden:true,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                    {field:'creditBn',title:'贷方',width:'13%',halign:'center',align:'right',hidden:true,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}

                ]
            ],
            onClickRow: function (rowIndex, rowData) {
                $(this).datagrid('unselectRow', rowIndex);
            },

            loadMsg:'加载中...'  //当从远程站点加载数据时，显示的提示消息。
        });
        $('#dg3').datagrid({
            striped: true  //设置为 true，则把行条纹化。（即奇偶行使用不同背景色） 默认false
            ,method: 'post'
            ,fitColumns: true //设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            ,singleSelect: true //设置为 true，则只允许选中一行。 默认false
            ,nowrap: true
            ,columns: [
                [
                    {field:'detail',title:'专项',width:'20%',halign:'center',colspan:2},
                    {field:'subject',title:'科目',width:'20%',halign:'center',colspan:2},
                    {field:'directionQc',title:'方向',width:'5%',halign:'center',align:'center',rowspan:2},
                    {field:'balanceQc',title:'期初金额',width:'13%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                    {field:'Bq',title:'本期发生',width:'26%',halign:'center',align:'right',colspan:2},
                    {field:'Bn',title:'累计发生',width:'26%',halign:'center',align:'right',colspan:2,hidden:true},
                    {field:'directionQm',title:'方向',width:'5%',halign:'center',align:'center',rowspan:2},
                    {field:'balanceQm',title:'期末金额',width:'13%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}
                ],
                [
                    {field:'detailCode',title:'编码',width:'10%',halign:'center',align:'center'},
                    {field:'detailName',title:'名称',width:'10%',halign:'center',align:'left'},
                    {field:'subjectCode',title:'编码',width:'10%',halign:'center',align:'center'},
                    {field:'subjectName',title:'名称',width:'10%',halign:'center',align:'left'},
                    {field:'debitBq',title:'借方',width:'13%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                    {field:'creditBq',title:'贷方',width:'13%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                    {field:'debitBn',title:'借方',width:'13%',halign:'center',align:'right',hidden:true,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                    {field:'creditBn',title:'贷方',width:'13%',halign:'center',align:'right',hidden:true,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}

                ]
            ],
            onClickRow: function (rowIndex, rowData) {
                $(this).datagrid('unselectRow', rowIndex);
            },

            loadMsg:'加载中...'  //当从远程站点加载数据时，显示的提示消息。
        });*/
        searchF();
    });

    //初始化页面数据
    function initData() {
        //财务主管
        $("#leader").html('');
        //打印日期
        var curr_time = new Date();
        $("#printDate").html(myformatter(curr_time));
        $("#yearMonth1").html($('#yearMonth').text());
        $("#yearMonthDate1").html($('#yearMonthDate').text());
        $("#centerCode").html($('#centerCodes').text());
    }

    //搜索
    function searchF(){
        $('#waitMenu').dialog('open').dialog('setTitle','提示：');//打开等待窗口
        var params = {};
        $('#searchspan').find('span').each(function(){
            var obj = $(this);
            var name = obj.attr('id');
            if(name){
                params[name] = obj.text();
            }
        });
      /*  var accounRules = $('#accounRules').text();
        var dg="";
        if (!accounRules || accounRules=='1') {//按科目汇总
            $('#accounRules1').show();
            $('#accounRules2').hide();
            dg="dg";
        } else {//按专项汇总
            $('#accounRules2').show();
            $('#accounRules1').hide();
            dg="dg3";

        }
        //是否显示本年累计
        var flag = $('#cumulativeAmount').text();*/
        var url='/specialsubjectbalance/list';
        $.post(url,params,function (result) {
            if (result.length>0) {
                $('#waitMenu').dialog('close');//关闭等待窗口
                creatPrintContent(result);
            } else {
                $('#waitMenu').dialog('close');//关闭等待窗口
                $.messager.alert('提示','未查询到相关数据','info');
            }
        });
       /* $("#"+dg).datagrid({
            url:'/specialsubjectbalance/list',
            queryParams: params,    //查询条件
            onLoadSuccess: function(data){
                if(data.total<=0) {
                    $.messager.show({
                        title: '提示'
                        ,msg:'未查询到相关数据'
                        ,showType:'slide'
                    });
                }else{
                    var panel = $(this).datagrid('getPanel');
                    //修改样式
                    updata_easyUI_dataGrid_table_style(panel);
                    //处理打印的Div区域
                    creatPrintContent();
                    //隐藏打印区域
                    $('#printDiv').hide();
                }
            }
        });*/

    }

    //打印
    function printF() {
        $('#printxf').hide();
       // $('#printDiv').show();
        window.print();
      //  $('#printDiv').hide();
        $('#printxf').show();
        /*$('.easyui-linkbutton').css({'display':'none'});
        //打印当前网页
        window.print();
        //无论是打印还是取消打印，均自动关闭当前网页
        window.close();*/
    }

    function creatPrintContent(result) {
        //获得DIV
        var parentDiv = $('#printDiv');
        //获得dg数据
        var rows=result;
        var accounRules = $('#accounRules').text();
        var flag = $('#cumulativeAmount').text();
        //每页数据量
        var pageRowNum = 15;
        if (flag=='1') {//显示累计发生额
            pageRowNum = 13;
        }
        //得到分页数
        var pages = rows.length/pageRowNum;
        //每页的开始行
        var rowNum = 0;
        var rowNow=0;
        for (var i=0;i<pages;i++) {
            //追加分页标志
            if (i!=0) {
                parentDiv.append('<div style="page-break-after:always">');
            }
            parentDiv.append(printTableHeader());
            parentDiv.append('<table id = "print_dg_' +i+ '" cellspacing="0" cellpadding="0"  style="height: auto;border-collapse: collapse; width:100%; "></table>');//overflow: hidden;
            //获取当前表格
            var table = document.getElementById ("print_dg_"+i);
            table.border = '1px solid #0094ff';
            //添加表头行信息
            if (!accounRules || accounRules=='1') {//按科目汇总
                if (flag=='0') {//不显示
                    //1,2 是区别行， 0 是不显示累计，k z 汇总
                    addTableHeaderRowInfo(table.insertRow(0),1,'0','k');//插入一个<tr>
                    addTableHeaderRowInfo(table.insertRow(1),2,'0','k');//插入一个<tr>
                }else{
                    addTableHeaderRowInfo(table.insertRow(0),1,flag,'k');//插入一个<tr>
                    addTableHeaderRowInfo(table.insertRow(1),2,flag,'k');//插入一个<tr>
                }
            }else{
                if (flag=='0') {//不显示
                    //1,2 是区别行， y n
                    addTableHeaderRowInfo(table.insertRow(0),1,'0','z');//插入一个<tr>
                    addTableHeaderRowInfo(table.insertRow(1),2,'0','z');//插入一个<tr>
                }else{
                    addTableHeaderRowInfo(table.insertRow(0),1,flag,'z');//插入一个<tr>
                    addTableHeaderRowInfo(table.insertRow(1),2,flag,'z');//插入一个<tr>
                }
            }


            for(var k=0;k<pageRowNum;k++){
                if(!result[rowNow]){
                    continue;
                }
                var row = table.insertRow(k+2);
                addTableDataRowInfo(row, result[rowNow],flag,accounRules);
                rowNow++;
            }
            parentDiv.append(printTableFooter());
            if (i!=0) {
                parentDiv.append('</div>');
            }
        }


    }
    function addTableHeaderRowInfo(row,type,flag,kz) {
        row.style.height = '30px';
        row.style.textAlign = 'center';
        if(flag=='0'){
            //不显示累计发生
            if(type==1){
                for (var i=0;i<7;i++) {
                    var cell = row.insertCell(i);//插入一个单元格
                    cellStylePadding(cell);
                    //判断是科目还是专项
                    if(kz=='k'){
                        if (i==0) {
                            cellColSpan(cell, 2);
                            cellStyleWidth(cell, 1);
                            cell.innerHTML= "<td>科目</td>";
                        } else if (i==1) {
                            cellColSpan(cell, 2);
                            cellStyleWidth(cell, 2);
                            cell.innerHTML= "<td>专项</td>";
                        }
                    }else{
                        if (i==0) {
                            cellColSpan(cell, 2);
                            cellStyleWidth(cell, 1);
                            cell.innerHTML= "<td>专项</td>";
                        } else if (i==1) {
                            cellColSpan(cell, 2);
                            cellStyleWidth(cell, 2);
                            cell.innerHTML= "<td>科目</td>";
                        }
                    }
                    if (i==2) {
                        cellRowSpan(cell,2);
                        cellStyleWidth(cell, 3);
                        cell.innerHTML= "<td>方向</td>";
                    } else if(i==3) {
                        cellRowSpan(cell,2);
                        cellStyleWidth(cell, 4);
                        cell.innerHTML= "<td>期初余额</td>";
                    }else if(i==4) {
                        cellColSpan(cell,2);
                        cellStyleWidth(cell, 5);
                        cell.innerHTML= "<td>本期发生</td>";
                    }else if(i==5) {
                        cellRowSpan(cell,2);
                        cellStyleWidth(cell, 6);
                        cell.innerHTML= "<td>方向</td>";
                    }else if(i==6) {
                        cellRowSpan(cell,2);
                        cellStyleWidth(cell, 7);
                        cell.innerHTML= "<td>期末余额</td>";
                    }
                }
            }else{
                for (var i=7;i<13;i++) {
                    var cell = row.insertCell(i-7);//插入一个单元格
                    cellStylePadding(cell);
                    if(i==7) {
                        cellStyleWidth(cell, 8);
                        cell.innerHTML= "<td>编码</td>";
                    }else if(i==8) {
                        cellStyleWidth(cell, 9);
                        cell.innerHTML= "<td>名称</td>";
                    }else if(i==9) {
                        cellStyleWidth(cell, 10);
                        cell.innerHTML= "<td>编码</td>";
                    }else if(i==10) {
                        cellStyleWidth(cell, 11);
                        cell.innerHTML= "<td>名称</td>";
                    }else if(i==11) {
                        cellStyleWidth(cell, 12);
                        cell.innerHTML= "<td>借方</td>";
                    }else if(i==12) {
                        cellStyleWidth(cell, 13);
                        cell.innerHTML= "<td>贷方</td>";
                    }
                }

            }
        }else{
            //显示累计发生
            if(type==1){
                for (var i=0;i<8;i++) {
                    var cell = row.insertCell(i);//插入一个单元格
                    cellStylePadding(cell);
                    if(kz=='k'){
                        if (i==0) {
                            cellColSpan(cell, 2);
                            cellStyleWidth2(cell, 1);
                            cell.innerHTML= "<td>科目</td>";
                        } else if (i==1) {
                            cellColSpan(cell, 2);
                            cellStyleWidth2(cell, 2);
                            cell.innerHTML= "<td>专项</td>";
                        }
                    }else{
                        if (i==0) {
                            cellColSpan(cell, 2);
                            cellStyleWidth2(cell, 1);
                            cell.innerHTML= "<td>专项</td>";
                        } else if (i==1) {
                            cellColSpan(cell, 2);
                            cellStyleWidth2(cell, 2);
                            cell.innerHTML= "<td>科目</td>";
                        }
                    }
                    if (i==2) {
                        cellRowSpan(cell,2);
                        cellStyleWidth2(cell, 3);
                        cell.innerHTML= "<td>方向</td>";
                    } else if(i==3) {
                        cellRowSpan(cell,2);
                        cellStyleWidth2(cell, 4);
                        cell.innerHTML= "<td>期初余额</td>";
                    }else if(i==4) {
                        cellColSpan(cell,2);
                        cellStyleWidth2(cell, 5);
                        cell.innerHTML= "<td>本期发生</td>";
                    }else if(i==5) {
                        cellColSpan(cell,2);
                        cellStyleWidth2(cell, 6);
                        cell.innerHTML= "<td>累计发生</td>";
                    }else if(i==6) {
                        cellRowSpan(cell,2);
                        cellStyleWidth2(cell, 7);
                        cell.innerHTML= "<td>方向</td>";
                    }else if(i==7) {
                        cellRowSpan(cell,2);
                        cellStyleWidth2(cell, 8);
                        cell.innerHTML= "<td>期末余额</td>";
                    }
                }

            }else{
                for (var i=8;i<16;i++) {
                    var cell = row.insertCell(i-8);//插入一个单元格
                    cellStylePadding(cell);
                    if(i==8) {
                        cellStyleWidth2(cell, 9);
                        cell.innerHTML= "<td>编码</td>";
                    }else if(i==9) {
                        cellStyleWidth2(cell, 10);
                        cell.innerHTML= "<td>名称</td>";
                    }else if(i==10) {
                        cellStyleWidth2(cell, 11);
                        cell.innerHTML= "<td>编码</td>";
                    }else if(i==11) {
                        cellStyleWidth2(cell, 12);
                        cell.innerHTML= "<td>名称</td>";
                    }else if(i==12) {
                        cellStyleWidth2(cell, 13);
                        cell.innerHTML= "<td>借方</td>";
                    }else if(i==13) {
                        cellStyleWidth2(cell, 14);
                        cell.innerHTML= "<td>贷方</td>";
                    }else if(i==14) {
                        cellStyleWidth2(cell, 15);
                        cell.innerHTML= "<td>借方</td>";
                    }else if(i==15) {
                        cellStyleWidth2(cell, 16);
                        cell.innerHTML= "<td>贷方</td>";
                    }
                }
            }
        }
    }
    function addTableDataRowInfo(row, data,flag,accounRules) {
        row.style.height = '37px'; //flag==0 不显示
        if(flag=='0'){
            //不显示累计发生
            for (var i=0;i<10;i++) {
                var cell = row.insertCell(i);//插入一个单元格
                cellStylePadding(cell);
                if (!accounRules || accounRules=='1') {
                    //科目
                    if (i==0) {
                        cellTextAlignLeft(cell);
                        cellStyleWidth(cell, 8);
                        var subjectCode=data.subjectCode;
                        cell.innerHTML = "<td>"+subjectCode==''||subjectCode==null?'':subjectCode+"</td>";
                    } else if (i==1) {
                        cellTextAlignLeft(cell);
                        cellStyleWidth(cell, 9);
                        cell.innerHTML = "<td>"+data.subjectName==''||data.subjectName==null?'':data.subjectName+"</td>";
                    }
                    else if(i==2){
                        cellTextAlignLeft(cell);
                        cellStyleWidth(cell, 10);
                        cell.innerHTML= "<td>"+data.detailCode==''||data.detailCode==null?'':data.detailCode+"</td>";
                    }else if(i==3){
                        cellTextAlignLeft(cell);
                        cellStyleWidth(cell, 11);
                        cell.innerHTML= "<td>"+data.detailName==''||data.detailName==null?'':data.detailName+"</td>";
                    }
                }else{

                     if(i==0){
                         cellTextAlignLeft(cell);
                        cellStyleWidth(cell, 8);
                        cell.innerHTML= "<td>"+data.detailCode==''||data.detailCode==null?'':data.detailCode+"</td>";
                    }else if(i==1){
                         cellTextAlignLeft(cell);
                        cellStyleWidth(cell, 9);
                        cell.innerHTML= "<td>"+data.detailName==''||data.detailName==null?'':data.detailName+"</td>";
                    }else if (i==2) {
                         cellTextAlignLeft(cell);
                         cellStyleWidth(cell, 10);
                         var subjectCode=data.subjectCode;
                         cell.innerHTML = "<td>"+subjectCode==''||subjectCode==null?'':subjectCode+"</td>";
                     } else if (i==3) {
                         cellTextAlignLeft(cell);
                         cellStyleWidth(cell, 11);
                         cell.innerHTML = "<td>"+data.subjectName==''||data.subjectName==null?'':data.subjectName+"</td>";
                     }
                }
                 if(i==4){
                    cellTextAlignCenter(cell);
                    cellStyleWidth(cell, 3);
                    cell.innerHTML= "<td>"+data.directionQc==''||data.directionQc==null?'':data.directionQc+"</td>";
                }else if(i==5){
                    cellTextAlignRight(cell);
                    cellStyleWidth(cell, 4);
                    cell.innerHTML= "<td>"+data.balanceQc==''||data.balanceQc==null?'':formate(data.balanceQc)+"</td>";
                }
                else if(i==6) {
                    cellTextAlignRight(cell);
                    cellStyleWidth(cell, 12);
                    cell.innerHTML= "<td>"+data.debitBq==''||data.debitBq==null?'':formate(data.debitBq)+"</td>";
                }else if(i==7) {
                    cellTextAlignRight(cell);
                    cellStyleWidth(cell,13);
                    cell.innerHTML= "<td>"+data.creditBq==''||data.creditBq==null?'':formate(data.creditBq)+"</td>";
                }else if(i==8){
                    cellTextAlignCenter(cell);
                    cellStyleWidth(cell, 6);
                    cell.innerHTML= "<td>"+data.directionQm==''||data.directionQm==null?'':data.directionQm+"</td>";
                }else if(i==9){
                    cellTextAlignRight(cell);
                    cellStyleWidth(cell, 7);
                    cell.innerHTML= "<td>"+data.balanceQm==''||data.balanceQm==null?'':formate(data.balanceQm)+"</td>";
                }

            }

        }else{
            //显示累计发生
            for (var i=0;i<12;i++) {
                var cell = row.insertCell(i);//插入一个单元格
                cellStylePadding(cell);
                if (!accounRules || accounRules=='1') {
                    //科目
                    if (i==0) {
                        cellTextAlignLeft(cell);
                        cellStyleWidth2(cell, 9);
                        var subjectCode=data.subjectCode;
                        cell.innerHTML = "<td>"+subjectCode==''||subjectCode==null?'':subjectCode+"</td>";
                    } else if (i==1) {
                        cellTextAlignLeft(cell);
                        cellStyleWidth2(cell, 10);
                        cell.innerHTML = "<td>"+data.subjectName==''||data.subjectName==null?'':data.subjectName+"</td>";
                    }
                    else if(i==2){
                        cellTextAlignLeft(cell);
                        cellStyleWidth2(cell, 11);
                        cell.innerHTML= "<td>"+data.detailCode==''||data.detailCode==null?'':data.detailCode+"</td>";
                    }else if(i==3){
                        cellTextAlignLeft(cell);
                        cellStyleWidth2(cell, 12);
                        cell.innerHTML= "<td>"+data.detailName==''||data.detailName==null?'':data.detailName+"</td>";
                    }
                }else{

                    if(i==0){
                        cellTextAlignLeft(cell);
                        cellStyleWidth2(cell, 9);
                        cell.innerHTML= "<td>"+data.detailCode==''||data.detailCode==null?'':data.detailCode+"</td>";
                    }else if(i==1){
                        cellTextAlignLeft(cell);
                        cellStyleWidth2(cell, 10);
                        cell.innerHTML= "<td>"+data.detailName==''||data.detailName==null?'':data.detailName+"</td>";
                    }else if (i==2) {
                        cellTextAlignLeft(cell);
                        cellStyleWidth2(cell, 11);
                        var subjectCode=data.subjectCode;
                        cell.innerHTML = "<td>"+subjectCode==''||subjectCode==null?'':subjectCode+"</td>";
                    } else if (i==3) {
                        cellTextAlignLeft(cell);
                        cellStyleWidth2(cell, 12);
                        cell.innerHTML = "<td>"+data.subjectName==''||data.subjectName==null?'':data.subjectName+"</td>";
                    }
                }
                if(i==4){
                    cellTextAlignCenter(cell);
                    cellStyleWidth2(cell, 3);
                    cell.innerHTML= "<td>"+data.directionQc==''||data.directionQc==null?'':data.directionQc+"</td>";
                }else if(i==5){
                    cellTextAlignRight(cell);
                    cellStyleWidth2(cell, 4);
                    cell.innerHTML= "<td>"+data.balanceQc==''||data.balanceQc==null?'':formate(data.balanceQc)+"</td>";
                }
                else if(i==6) {
                    cellTextAlignRight(cell);
                    cellStyleWidth2(cell, 13);
                    cell.innerHTML= "<td>"+data.debitBq==''||data.debitBq==null?'':formate(data.debitBq)+"</td>";
                }else if(i==7) {
                    cellTextAlignRight(cell);
                    cellStyleWidth2(cell,14);
                    cell.innerHTML= "<td>"+data.creditBq==''||data.creditBq==null?'':formate(data.creditBq)+"</td>";
                }

                if(i==8) {
                    cellTextAlignRight(cell);
                    cellStyleWidth2(cell,15);
                    cell.innerHTML= "<td>"+data.debitBn==''||data.debitBn==null?'':formate(data.debitBn)+"</td>";
                }else if(i==9) {
                    cellTextAlignRight(cell);
                    cellStyleWidth2(cell, 16);
                    cell.innerHTML= "<td>"+data.creditBn==''||data.creditBn==null?'':formate(data.creditBn)+"</td>";
                }else if(i==10) {
                    cellTextAlignCenter(cell);
                    cellStyleWidth2(cell,7);
                    cell.innerHTML= "<td>"+data.directionQm==''||data.directionQm==null?'':data.directionQm+"</td>";
                }else if(i==11) {
                    cellTextAlignRight(cell);
                    cellStyleWidth2(cell,8);
                    cell.innerHTML= "<td>"+data.balanceQm==''||data.balanceQm==null?'':formate(data.balanceQm)+"</td>";
                }

            }
        }

    }
    function cellTextAlignRight(cell) {
        cell.style.textAlign = 'right';
    }
    function cellTextAlignLeft(cell) {
        cell.style.textAlign = 'left';
    }
    function cellTextAlignCenter(cell) {
        cell.style.textAlign = 'center';
    }
    function cellColSpan(cell, type) {
        switch (type) {
            case 1: cell.colSpan = '1'; break;
            case 2: cell.colSpan = '2'; break;
            case 3: cell.colSpan = '3'; break;
            case 4: cell.colSpan = '4'; break;
            default:
        }
    }
    function cellRowSpan(cell, type) {
        switch (type) {
            case 1: cell.rowSpan = '1'; break;
            case 2: cell.rowSpan = '2'; break;
            case 3: cell.rowSpan = '3'; break;
            case 4: cell.rowSpan = '4'; break;
            default:
        }
    }
    function cellStylePadding(cell) {
        cell.style.padding = '2px';
    }
    function cellStyleWidth(cell, type) {
        if (type==1) {
            cell.style.width = '20%';
        } else if (type==2) {
            cell.style.width = '20%';
        } else if (type==3 ) {
            cell.style.width = '4%';
        }else if (type==4) {
            cell.style.width = '13%';
        } else if (type==5) {
            cell.style.width = '26%';
        } else if (type==6) {
            cell.style.width = '4%';
        }else if (type==7) {
            cell.style.width = '13%';
        }else if (type==8) {
            cell.style.width = '10%';
        }else if (type==9) {
            cell.style.width = '10%';
        }else if (type==10) {
            cell.style.width = '10%';
        }else if (type==11) {
            cell.style.width = '10%';
        }else if (type==12) {
            cell.style.width = '13%';
        }else if (type==13) {
            cell.style.width = '13%';
        }
    }
    function cellStyleWidth2(cell, type) {
        if (type==1) {
            cell.style.width = '16%';
        } else if (type==2) {
            cell.style.width = '16%';
        } else if (type==3 ) {
            cell.style.width = '4%';
        }else if (type==4) {
            cell.style.width = '10%';
        } else if (type==5) {
            cell.style.width = '20%';
        } else if (type==6) {
            cell.style.width = '20%';
        }else if (type==7) {
            cell.style.width = '4%';
        }else if (type==8) {
            cell.style.width = '10%';
        }else if (type==9) {
            cell.style.width = '8%';
        }else if (type==10) {
            cell.style.width = '8%';
        }else if (type==11) {
            cell.style.width = '8%';
        }else if (type==12) {
            cell.style.width = '8%';
        }else if (type==13) {
            cell.style.width = '10%';
        }else if (type==14) {
            cell.style.width = '10%';
        }else if (type==15) {
            cell.style.width = '10%';
        }else if (type==16) {
            cell.style.width = '10%';
        }
    }
    function printTableHeader() {
        var headerHtml = '<table style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;" ><div align="center"><span align="center" style="font-size:18px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bolder">'+$('#currentManageBranchName').text()+'</span><br/><span align="center" style="font-size:20px; font-family: Verdana, 微软雅黑, 黑体; font-weight: bold">专项科目余额表</span></div></table>' + '<table cellpadding="2" style="width: 100%; overflow: hidden;table-layout: fixed;" border="0"><tr>  <td style="text-align: left; padding-left: 10px"><label>核算单位：<span id="centerCode">'+$('#centerCodes').text()+'</span></label></td>'+
            '<td style="text-align: center;"><label>期间：自&nbsp;<span id="yearMonth1">'+$('#yearMonth').text()+'</span>&nbsp;至&nbsp;<span id="yearMonthDate1">'+$('#yearMonthDate').text()+'</span></label></td> <td style="text-align: right; padding-right: 20px"><label>单位：<span>人民币元</span></label></td></tr></table>';
        return headerHtml;
    }
    function printTableFooter() {
        var footer = '<table style="height: auto; width:100%; padding: 8px 0px 0px 0px;overflow: hidden;"><tr><td style="width:10%;text-align: right;" ><label>财务主管：</label></td><td style="width:13%;"><span name="leaderPrint">'+$("#leader").text()+'</span></td><td style="width:10%;text-align: right;" ><label>操作员：</label></td><td style="width:13%;"><span name="operationUserPrint">'+$("#operationUser").text()+'</span></td><td style="width:10%;text-align: right;" ><label>打印日期：</label></td><td style="width:13%;"><span name="printDatePrint">'+myformatter(new Date())+'</span></td></tr></table>';
        return footer;
    }
    /*function setPrintContentValue(pageRowNum, pages) {
        var rowNum = 0;
        var rows=null;
        var accounRules = $('#accounRules').text();
        if (!accounRules || accounRules=='1') {//按科目汇总
             rows = $('#dg').datagrid('getRows');
        }else{
             rows = $('#dg3').datagrid('getRows');
        }
        var flag = $('#cumulativeAmount').text();
        for (var i=0;i<pages;i++) {
            //设置中心表格区域
            if (!accounRules || accounRules=='1') {//按科目汇总
                if(flag == "0"){//不显示
                    $('#print_dg_'+i).datagrid({
                        striped: true
                        ,method: 'post'
                        ,fitColumns: true
                        ,singleSelect: true
                        ,nowrap: true
                        ,columns: [
                            [
                                {field:'subject',title:'科目',width:'20%',halign:'center',colspan:2},
                                {field:'detail',title:'专项',width:'20%',halign:'center',colspan:2},
                                {field:'directionQc',title:'方向',width:'4%',halign:'center',align:'center',rowspan:2},
                                {field:'balanceQc',title:'期初金额',width:'13%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'Bq',title:'本期发生',width:'26%',halign:'center',align:'right',colspan:2},
                                {field:'Bn',title:'累计发生',width:'26%',halign:'center',align:'right',colspan:2,hidden:true},
                                {field:'directionQm',title:'方向',width:'4%',halign:'center',align:'center',rowspan:2},
                                {field:'balanceQm',title:'期末金额',width:'13%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}
                            ],
                            [
                                {field:'subjectCode',title:'编码',width:'10%',halign:'center',align:'center'},
                                {field:'subjectName',title:'名称',width:'10%',halign:'center',align:'left'},
                                {field:'detailCode',title:'编码',width:'10%',halign:'center',align:'center'},
                                {field:'detailName',title:'名称',width:'10%',halign:'center',align:'left'},
                                {field:'debitBq',title:'借方',width:'13%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'creditBq',title:'贷方',width:'13%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'debitBn',title:'借方',width:'13%',halign:'center',align:'right',hidden:true,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'creditBn',title:'贷方',width:'13%',halign:'center',align:'right',hidden:true,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}

                            ]
                        ]
                    });
                }else{//显示
                    $('#print_dg_'+i).datagrid({
                        striped: true
                        ,method: 'post'
                        ,fitColumns: true
                        ,singleSelect: true
                        ,nowrap: true
                        ,columns: [
                            [
                                {field:'subject',title:'科目',width:'16%',halign:'center',colspan:2},
                                {field:'detail',title:'专项',width:'16%',halign:'center',colspan:2},
                                {field:'directionQc',title:'方向',width:'4%',halign:'center',align:'center',rowspan:2},
                                {field:'balanceQc',title:'期初金额',width:'10%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'Bq',title:'本期发生',width:'20%',halign:'center',align:'right',colspan:2},
                                {field:'Bn',title:'累计发生',width:'20%',halign:'center',align:'right',colspan:2,hidden:false},
                                {field:'directionQm',title:'方向',width:'4%',halign:'center',align:'center',rowspan:2},
                                {field:'balanceQm',title:'期末金额',width:'10%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}
                            ],
                            [
                                {field:'subjectCode',title:'编码',width:'8%',halign:'center',align:'center'},
                                {field:'subjectName',title:'名称',width:'8%',halign:'center',align:'left'},
                                {field:'detailCode',title:'编码',width:'8%',halign:'center',align:'center'},
                                {field:'detailName',title:'名称',width:'8%',halign:'center',align:'left'},
                                {field:'debitBq',title:'借方',width:'10%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'creditBq',title:'贷方',width:'10%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'debitBn',title:'借方',width:'10%',halign:'center',align:'right',hidden:false,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'creditBn',title:'贷方',width:'10%',halign:'center',align:'right',hidden:false,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}

                            ]
                        ]
                    });
                }
            }else{
                if(flag == "0"){//不显示
                    $('#print_dg_'+i).datagrid({
                        striped: true
                        ,method: 'post'
                        ,fitColumns: true
                        ,singleSelect: true
                        ,nowrap: true
                        ,columns: [
                            [
                                {field:'detail',title:'专项',width:'20%',halign:'center',colspan:2},
                                {field:'subject',title:'科目',width:'20%',halign:'center',colspan:2},
                                {field:'directionQc',title:'方向',width:'4%',halign:'center',align:'center',rowspan:2},
                                {field:'balanceQc',title:'期初金额',width:'13%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'Bq',title:'本期发生',width:'26%',halign:'center',align:'right',colspan:2},
                                {field:'Bn',title:'累计发生',width:'26%',halign:'center',align:'right',colspan:2,hidden:true},
                                {field:'directionQm',title:'方向',width:'4%',halign:'center',align:'center',rowspan:2},
                                {field:'balanceQm',title:'期末金额',width:'13%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}
                            ],
                            [
                                {field:'detailCode',title:'编码',width:'10%',halign:'center',align:'center'},
                                {field:'detailName',title:'名称',width:'10%',halign:'center',align:'left'},
                                {field:'subjectCode',title:'编码',width:'10%',halign:'center',align:'center'},
                                {field:'subjectName',title:'名称',width:'10%',halign:'center',align:'left'},
                                {field:'debitBq',title:'借方',width:'13%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'creditBq',title:'贷方',width:'13%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'debitBn',title:'借方',width:'13%',halign:'center',align:'right',hidden:true,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'creditBn',title:'贷方',width:'13%',halign:'center',align:'right',hidden:true,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}

                            ]
                        ]
                    });
                }else{//显示
                    $('#print_dg_'+i).datagrid({
                        striped: true
                        ,method: 'post'
                        ,fitColumns: true
                        ,singleSelect: true
                        ,nowrap: true
                        ,columns: [
                            [
                                {field:'detail',title:'专项',width:'16%',halign:'center',colspan:2},
                                {field:'subject',title:'科目',width:'16%',halign:'center',colspan:2},
                                {field:'directionQc',title:'方向',width:'4%',halign:'center',align:'center',rowspan:2},
                                {field:'balanceQc',title:'期初金额',width:'10%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'Bq',title:'本期发生',width:'20%',halign:'center',align:'right',colspan:2},
                                {field:'Bn',title:'累计发生',width:'20%',halign:'center',align:'right',colspan:2,hidden:false},
                                {field:'directionQm',title:'方向',width:'4%',halign:'center',align:'center',rowspan:2},
                                {field:'balanceQm',title:'期末金额',width:'10%',halign:'center',align:'right',rowspan:2,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}
                            ],
                            [
                                {field:'detailCode',title:'编码',width:'8%',halign:'center',align:'center'},
                                {field:'detailName',title:'名称',width:'8%',halign:'center',align:'left'},
                                {field:'subjectCode',title:'编码',width:'8%',halign:'center',align:'center'},
                                {field:'subjectName',title:'名称',width:'8%',halign:'center',align:'left'},
                                {field:'debitBq',title:'借方',width:'10%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'creditBq',title:'贷方',width:'10%',halign:'center',align:'right',formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'debitBn',title:'借方',width:'10%',halign:'center',align:'right',hidden:false,formatter: function(value,row,index){return formatNumber(value*1,2,1);}},
                                {field:'creditBn',title:'贷方',width:'10%',halign:'center',align:'right',hidden:false,formatter: function(value,row,index){return formatNumber(value*1,2,1);}}

                            ]
                        ]
                    });
                }
            }

            for (var j=0;j<pageRowNum;j++) {
                if (rowNum < rows.length) {
                    $('#print_dg_'+i).datagrid('appendRow', rows[rowNum]);
                    rowNum++;
                } else {
                    break;
                }
            }
            //修改样式
            var panel = $('#print_dg_'+i).datagrid('getPanel');
            updata_easyUI_dataGrid_table_style(panel);
        }
    }*/

    function appointPrintContent(doc) {
        //这里可以自定义样式
        //doc.write("<LINK rel="stylesheet" type="text/css" href="css/print.css">");
        doc.write('<div>' + el.innerHTML + '</div>');
    }

    function myformatter(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
        return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
    }

    function formate(data) {
        if (data || (data+'')=='0') {
            return formatNumber(data*1, 2, 1);
        }
        return data;
    }

    //将","替换为"/"
    function repalceValue(value) {
        if (value) {
            var str = '';
            var s = value.split(",");
            for (var i=0;i<s.length;i++) {
                str = str + s[i] + '/'
            }
            value = str.substring(0,str.length-1);
        }
        return value;
    }
    //等待
    var loading;
    function onOpen() {
        loading = setInterval(showalert, 500);
    }
    var ii = 2;
    function showalert() {
        var text = "";
        var text1 = "";
        if (ii == 1) {
            text = '正在处理，请稍后.';
        } else if (ii == 2) {
            text = '正在处理，请稍后..';
        } else if (ii == 3) {
            text = '正在处理，请稍后...';
            ii = 0;
        }
        ii++;
        $('#msg').text(text);
    }
    function onClose() {
        clearInterval(loading);
    }
</script>
</html>